<!-- <app-side-panel [isOpen]="isSidePanelOpen"></app-side-panel> -->
<!-- <app-side-panel></app-side-panel> -->

<nav id="toolbar" class="bg-white">

    <div class="row no-gutters align-items-center flex-nowrap">

        <div class="col">


            <div class="row no-gutters align-items-center flex-nowrap">
                <button type="button" (click)="toggleSidePanel()" class="toggle-aside-button btn btn-icon d-block d-lg-none fa fa-bar" >
                    <i class="fa fa-bars"></i>
                </button>
                <div class="toolbar-separator d-block d-lg-none"></div>
                <div class="toolbar-separator"></div>
            </div>
        </div>
        <div class="col-auto"> 

               
            <div class="row no-gutters align-items-center justify-content-end">

                <button class="avatar-button responsive_name" (click)="toggleMenu()">
                    <div class="">
                        <span class="username mx-13">{{loggedInUser?.FIRST_NAME}} {{loggedInUser?.LAST_NAME}} &nbsp; &nbsp;</span>
                    </div>
                </button>
                
                <button class="avatar-button" (click)="toggleMenu()">
                    <div class="avatar-wrapper">
                        <img class="avatar" src="../assets/images/avatars/profile.jpg">                
                        <i class="status text-green icon-checkbox-marked-circle s-4"></i>
                    </div>
                    <span class="username mx-3 d-none d-md-block">{{loggedInUser?.FIRST_NAME}} &nbsp; &nbsp;</span>
                </button>
            

               
                <div class="toolbar-separator"></div>
                <button type="button" class="search-button btn btn-icon">
                    <!-- <i class="icon icon-magnify"></i> -->
                </button>
                <!-- <div class="toolbar-separator"></div>
                <div class="toolbar-separator"></div> -->
                <button type="button" class="quick-panel-button btn btn-icon">
                    <!-- <i class="icon icon-format-list-bulleted"></i> -->
                </button>
            </div>                          
        </div>
    </div>
</nav>


<div class="menu" [class.active]="isMenuOpen">
    <ul>
        <!-- <li type="button"><a><i class="icon-account"></i> My Profile</a></li> -->
        <li type="button" (click)="openChangePasswordDialog()"><a><i class="icon-lock-reset"></i> Change Password</a></li>
        <li type="button" (click)="logout()"><a><i class="icon-logout" type="button"></i> Logout</a></li>
    </ul>
</div>


<div class="menu-2" [class.active]="isSidePanelOpen">
    <ul>
        <li type="button" (click)="toggleSection('dashboard')">
            <a><i class="icon s-4 icon-tile-four"></i> <b>Dashboard</b></a>
        </li>
        <li *ngIf="openSection === 'dashboard'" type="button" (click)="navigateToDashboardProject()">
            <a>Dashboard</a>
        </li>    
    </ul>

    <ul>
        <li type="button" (click)="toggleSection('taskManagement')">
            <a><i class="icon s-4 icon-checkbox-marked"></i> <b>Task Management</b></a>
        </li>
        <li *ngIf="openSection === 'taskManagement'" type="button" (click)="navigateToTaskManagement()">
            <a>Task Management</a>
        </li>
        <li *ngIf="openSection === 'taskManagement'" type="button" (click)="navigateToRecTaskManagement()">
            <a>Recursive Task</a>
        </li>
    </ul>

    <ul>
        <li type="button" (click)="toggleSection('templates')">
            <a><i class="icon s-4 icon-checkbox-marked"></i><b>Templates</b></a>
        </li>
        <li *ngIf="openSection === 'templates'" type="button" (click)="navigateToCategoryMaster()">
            <a>Category Master</a>
        </li>
        <li *ngIf="openSection === 'templates'" type="button" (click)="navigateToInstructionMaster()">
            <a>Instruction Master</a>
        </li>
        <li *ngIf="openSection === 'templates'" type="button" (click)="navigateToDocumentTempelate()">
            <a>Document Template</a>
        </li>
        <li *ngIf="openSection === 'templates'" type="button" (click)="navigateToApprovlTempelate()">
            <a>Approval Template</a>
        </li>
    </ul>

    <ul>
        <li type="button" (click)="toggleSection('projects')">
            <a><i class="icon s-4 icon-checkbox-marked"></i><b>Projects</b></a>
        </li>
        <li *ngIf="openSection === 'projects'" type="button" (click)="navigateToProjectDefination()">
            <a>Project Definition</a>
        </li>
        <li *ngIf="openSection === 'projects'" type="button" (click)="navigateToProjectDocDepository()">
            <a>Project Document Depository</a>
        </li>
        <li *ngIf="openSection === 'projects'" type="button" (click)="navigateToUploadProject()">
            <a>Project Document Search</a>
        </li>
        <li *ngIf="openSection === 'projects'" type="button" (click)="navigateToCompliance()">
            <a>Compliance</a>
        </li>
    </ul>
</div>







<!-- <div class="dialog-container" [class.visible]="isDialogOpen" [class.closing]="isDialogClosing">
    <app-reset-password (close)="closeDialog()"></app-reset-password>
</div> -->
