<div *ngIf="loading" class="text-center">
    <div class="spinner-border text-primary" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>
<div
    style="background-color: rgb(231, 231, 231); display: flex; justify-content: space-between; align-items: center; padding: 5px;">
    <h6 style="font-weight: 600; margin-bottom: -2px;">Document Details</h6>
    <button type="button" class="d-btn" style="font-size: 14px; margin: 5px; padding: 0.5rem 2rem;"
        (click)="openAddModal()">
        Add New +
    </button>
</div>
<!-- Modal - Add document -->

<div *ngIf="isAddModalOpen" class="full-height-modal">
    <div id="label-header">
        <label for="category" class="doc_label" id="add-doc-text">Add document</label>
        <button class="close-button" (click)="closeAddModal()">X</button>
    </div>
    <!-- Your modal content here -->
    <div class="sample-wrapper">
        <div class="pl-4 combo-section">
            <!-- Search Input -->
            <input type="text" [(ngModel)]="searchItem" (ngModelChange)="updateFilteredDocsList()"
                [ngModelOptions]="{standalone: true}" placeholder="Select Documents" class="search-input" />

            <!-- Dropdown List -->
            <div *ngIf="!loading && groupedDocsList.length > 0; else noData"
                class="dropdown bg-light p-3 rounded shadow">
                <ul class="dropdown-list">
                    <ng-container *ngFor="let group of groupedDocsList">
                        <!-- Document Name Header -->
                        <div class="category-header justify-content-center" style="color: rgb(216, 87, 87);">
                            <b>{{ group.DOCUMENT_NAME }}</b>
                        </div>

                        <!-- Document Descriptions -->
                        <ng-container *ngFor="let docItem of group.DOCUMENTS">
                            <li (click)="toggleListSelection(docItem)" [class.selected]="docItem.selected"
                                style="display: flex; justify-content: space-between; align-items: center; cursor: pointer; padding: 5px; border-bottom: 1px solid #ddd;">
                                <span>{{ docItem.TYPE_DESC || 'No Description Available' }}</span>
                            </li>
                        </ng-container>

                    </ng-container>
                </ul>
            </div>

            <!-- No Data Message -->
            <ng-template #noData>
                <div class="no-data-message text-center text-muted p-2">
                    No data available.
                </div>
            </ng-template>
        </div>
    </div>
</div>
<div class="table-wrapper">
    <div class="table-container">
        <table *ngIf="!loading" class="table table-active">
            <thead>
                <tr>
                    <th *ngIf="columns[0].visible" style="text-align: center;">{{ columns[0].header }}</th>
                    <th *ngIf="columns[1].visible">{{ columns[1].header }}</th>
                    <th *ngIf="columns[2].visible">{{ columns[2].header }}</th>
                    <th *ngIf="columns[3].visible">{{ columns[3].header }}</th>
                    <th *ngIf="columns[4].visible">{{ columns[4].header }}</th>
                    <th *ngIf="columns[5].visible">{{ columns[5].header }}</th>
                    <th *ngIf="columns[6].visible" style="text-align: center;">{{ columns[6].header }}</th>
                </tr>
            </thead>
            <tbody class="table-data">
                <tr *ngIf="outputList.length === 0">
                    <td colspan="7" class="text-center">No data available</td>
                </tr>
                <tr *ngFor="let document of outputList; let i = index">
                    <td style="text-align: center;">{{ i + 1 }}</td>
                    <td *ngIf="columns[1].visible">{{ document.ATTRIBUTE2 }}</td>
                    <td *ngIf="columns[2].visible">{{ document.DOC_NUMBER }}</td>
                    <td *ngIf="columns[3].visible">{{ document.TYPE_DESC }}</td>
                    <td *ngIf="columns[4].visible">{{ document.DOC_DATE | date: 'dd/MM/yyyy' }}</td>
                    <td *ngIf="columns[5].visible">{{ document.VALIDITY_DATE | date: 'dd/MM/yyyy' }}</td>
                    <td style="text-align: center;">
                        <button type="button" class="d-btn" style="font-size: 14px;" (click)="openModal(document)">
                            Details
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<!-- Modal -->
<div *ngIf="isModalOpen" class="modal-backdrop">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">{{ selectedDocument?.TYPE_DESC || 'Document Details' }}</h5>
            <button type="button" class="close" (click)="closeModal()">&times;</button>
        </div>
        <div class="modal-body">
            <div class="row justify-content-between">
                <!-- Property Dropdown -->
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="project">Property</label>
                        <select class="h6 custom-select cate" #projectSelect (change)="onProjectSelect(projectSelect)"
                            style="width: 100%;">
                            <option value="0" [selected]="taskDetails[0].PROJECT === 0">Select
                            </option>
                            <option *ngFor="let p of project" [selected]="p.TYPE_DESC === taskDetails[0].PROJECT">
                                {{ p.TYPE_DESC }}
                            </option>
                        </select>
                    </div>
                </div>

                <!-- Building Dropdown -->
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="subProject">Building</label>
                        <select class="h6 custom-select cate" [(ngModel)]="taskDetails[0].Sub_PROJECT"
                            style="width: 100%;">
                            <option value="0" [selected]="taskDetails[0].Sub_PROJECT">Select
                            </option>
                            <option *ngFor="let s of sub_proj" [selected]="s.TYPE_DESC === taskDetails[0].Sub_PROJECT">
                                {{ s.TYPE_DESC }}
                            </option>
                        </select>
                    </div>
                </div>

                <!-- Document Number -->
                <div class="col-md-6" *ngIf="selectedDocument?.DOC_NUM_APP_FLAG === 'Y'">
                    <div class="form-group">
                        <label for="docNumber">Document Number</label>
                        <input type="text" id="docNumber" class="form-control"
                            [(ngModel)]="selectedDocument.DOC_NUMBER">
                    </div>
                </div>

                <!-- Document Date -->
                <div class="col-md-6" *ngIf="selectedDocument?.DOC_NUM_DATE_APP_FLAG === 'Y'">
                    <div class="form-group">
                        <label for="docDate">Document Date</label>
                        <input type="date" id="docDate" class="form-control" [(ngModel)]="selectedDocument.DOC_DATE">
                    </div>
                </div>

                <!-- Validity Date -->
                <div class="col-md-6" *ngIf="selectedDocument?.DOC_NUM_VALID_FLAG === 'Y'">
                    <div class="form-group">
                        <label for="validityDate">Validity Date</label>
                        <input type="date" id="validityDate" class="form-control"
                            [(ngModel)]="selectedDocument.VALIDITY_DATE">
                    </div>
                </div>

                <!-- Attach Document Field -->
                <div class="col-md-6" *ngIf="selectedDocument?.DOC_ATTACH_APP_FLAG === 'Y'">
                    <div class="form-group">
                        <label for="fileUpload" class="form-label">Attach Document</label>
                        <div class="custom-file" *ngIf="!hasFile()" >
                            <input type="file" id="fileUpload" class="custom-file-input"
                                (change)="onFileSelected($event)">
                            <label class="custom-file-label text-truncate">
                                Attach Document
                            </label>
                        </div>

                        <div *ngIf="hasFile()" class="d-flex align-items-center" style="gap: 8px;">
                            <span class="text-truncate">{{ selectedFileName() }}</span>
                            <a [href]="getDownloadUrl()" download>
                                <i class="fa fa-download" id="download" aria-hidden="true"></i>
                            </a>
                            <div (click)="removeFile();  $event.stopPropagation()">
                                <i class="fa fa-trash" id="removeBtn" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="closeModal()">Close</button>
            <button type="button" class="btn btn-primary" (click)="saveChanges()">Save Changes</button>
        </div>
    </div>
</div>