/* General Layout Styles */
.mb-3 {
  margin-left: -20rem;
}

.form-group {
  margin-bottom: 5px;
}

.form-group label {
  font-size: 0.9em;
}

.active {
  background-color: white;
}

/* Accordion */
.doc_label {
  display: flex;
  margin: 1rem 2rem;
}

.icon-container {
  margin-right: 8px;
}

/* Icon Styles */
.fa-solid {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  color: white;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.fa-plus {
  background-color: #999;
}

.fa-solid:hover {
  background-color: #0056b3;
}

/* Table */
#table-sub-list {
  width: 70%;
}

/* Dropdown */
.dropdown {
  max-height: 400px;
  overflow-y: auto;
  border: 1px solid #ddd;
  background-color: white;
  z-index: 1000;
}

.dropdown-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.dropdown-list li {
  padding: 10px 15px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.dropdown-list li:hover {
  background-color: rgba(216, 87, 87, 0.1);
}

.dropdown-list li.selected {
  background-color: rgba(216, 87, 87, 0.2);
}

/* Scrollable Container */
.scrollable-container {
  max-height: 400px;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 15px;
  border: 1px solid #ddd;
  margin-bottom: 15px;
}

.scrollable-container::-webkit-scrollbar {
  width: 1px;
}

.scrollable-container::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
}

.scrollable-container::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

/* Table container with scrollable body */
.table-wrapper {
  margin-top: 2rem;
  max-height: 400px;
  /* Adjust as necessary */
  overflow-y: auto;
  display: block;
}

.table-wrapper thead,
.table-wrapper th {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 1;
}

/* Table styles */
.table {
  width: 100%;
  border-collapse: collapse;
}

.table th,
.table td {
  padding: 8px;
  text-align: center;
  border: 1px solid #ddd;
}

/* Optional - to style the table header background */
.table thead {
  background-color: #f2f2f2;
}

.scrollable-container {
  max-height: 400px;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 15px;
  border: 1px solid #ddd;
  margin-bottom: 15px;
}

.scrollable-container::-webkit-scrollbar {
  width: 1px;
}

.scrollable-container::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
}

.scrollable-container::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}


/* Progress Bar */
.progress {
  background: #bebfbf;
  border-radius: 20px;
  margin: 0;
}

.progress .progress-bar {
  border-radius: 20px;
  box-shadow: none;
  animation: animate-positive 2s;
}

/* Modal Styles */
.modal-backdrop {
  position: fixed;
  top: 0;
  left: 10%;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: white;
  border-radius: 8px;
  width: 70%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  animation: fadeIn 0.3s ease-in-out;
  z-index: 1001;
}

.modal-header,
.modal-footer {
  padding: 16px;
  border-bottom: 1px solid #ddd;
}

.modal-footer {
  border-top: 1px solid #ddd;
  text-align: right;
}

.modal-body {
  padding: 16px;
}

/* Close Button */
.close {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

/* Button Styles */
.btn {
  padding: 2px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn-secondary {
  background: #6c757d;
  color: white;
}

.btn-primary {
  background: #007bff;
  color: white;
}

/* Fade-in Animation */
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* Responsive Styles */
@media only screen and (max-width: 992px) {
  body {
    padding-left: 0;
  }

  .cate,
  .custom-select {
    width: 100%;
  }

  .month_class {
    width: 32.5rem;
  }
}

@media only screen and (max-width: 380px) {
  .truncate-date {
    min-width: 50px;
    max-width: 75px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

@media only screen and (max-width: 992px) and (min-width: 767px) {
  .description {
    margin-top: 1rem;
  }
}

@media (max-width: 768px) {

  .form-group label {
    font-size: 0.7em;
  }

  .table-wrapper {
    margin-top: 2rem;
    max-height: 400px;
    /* Adjust as necessary */
    overflow-y: auto;
    display: block;
    max-width: 360px;
    font-size: 0.7em;
  }

  .modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .modal-content {
    max-height: 400px;
    /* Adjust as necessary */
    overflow-y: auto;
    background: white;
    width: 70%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    animation: fadeIn 0.3s ease-in-out;
    z-index: 1001;
  }

  #customFile {
    width: 23.5rem;
  }

  .modal-header,
  .modal-footer {
    padding: 4px;
    border-bottom: 1px solid #ddd;
  }

  .modal-footer {
    border-top: 1px solid #ddd;
    text-align: right;
  }

  .modal-body {
    padding: 16px;
  }
  .btn, .d-btn{
    font-size: 0.7em !important;
  }
}

.combo-section {
  position: relative;
}

.search-input {
  width: 40rem;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 5px;
}

.dropdown-list {
  max-height: 500px;
  margin-top: 5px;
  width: 40rem;
}

.dropdown-list li {
  list-style: none;
  padding: 10px;
}

.dropdown-list input[type="checkbox"] {
  margin-right: 10px;
}

.select-button {
  margin-top: 10px;
  padding: 10px 15px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.select-button:hover {
  background-color: #0056b3;
}

.cities-container {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  max-width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.city-tag {
  background-color: #d8e8ff;
  border-radius: 12px;
  padding: 5px 10px;
  font-size: 14px;
  color: #333;
}

.d-btn {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 4px 15px;
  margin-left: -5px;
}