<app-header-bar (loggedInUserEmitter)="receiveLoggedInUser($event)"></app-header-bar>

<div class="main content">
    <div id="project-dashboard" class="page-layout simple right-sidebar">
        <div class="page-content-wrapper custom-scrollbar">
            <div class="page-content">
                <ul class="nav nav-tabs light-gray pl-2" role="tablist">
                    <li class="nav-item" *ngFor="let tab of tabs">
                        <a class="nav-link btn" [class.active]="selectedTab === tab.key" (click)="switchTab(tab.key)"
                            href="javascript:void(0)" role="tab">
                            {{ tab.label }}
                        </a>
                    </li>
                </ul>

                <div class="tab-content p-1 side-bar-scroll" style="margin-right: -120rem;">
                    <div class="tab-pane fade show active p-1" role="tabpanel">
                        <ng-container 
                            *ngIf="selectedComponent"
                            [ngComponentOutlet]="selectedComponent"
                            [ngComponentOutletInjector]="tabInjector"
                        ></ng-container>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>