<body class="layout  layout-left-navigation layout-below-toolbar layout-below-footer" class="side-bar-scroll">
  <main>
    <div id="wrapper">


      <div class="content-wrapper">

        <div class="">

          <!-- <app-side-panel></app-side-panel>   -->

          <div id="e-commerce-product" class="simple tabbed">
            <!-- HEADER -->

            <app-header-bar (loggedInUserEmitter)="receiveLoggedInUser($event)"></app-header-bar>

            <div class="tab-pane fade show" *ngIf="selectedTab === 'taskInfo'" id="basic-info-tab-pane" role="tabpanel"
              aria-labelledby="basic-info-tab">

              <div class="bg-primary py-6 text-auto row align-items-center justify-content-between p-6">

                <div class="row no-gutters align-items-center">
                  <div class="product-image mr-4 ml-8">
                    <img src="../../../../assets/Content/images/ecommerce/product-image-placeholder.png">
                  </div>
                  <div>
                    <b>Task Detail</b>
                  </div>
                </div>

                <div class="flex-grow-1"></div>

                <div class="mr-8">
                  <button type="button" class="btn btn-light" (click)="onSubmit()" id="btnSaveTask">
                    SAVE
                  </button>
                </div>
              </div>

              <br>
              <div class="container-fluid">
                <div class="card p-6 tab-content">
                  <form [formGroup]="taskForm" (ngSubmit)="createData()">
                    <div class="row" style="height:80px">
                      <div class="col-xs-12 col-xl-4 col-md-4">
                        <div class="form-group">
                          <label for="category">Category</label>
                          <select class="h6 custom-select form-control cate" formControlName="category"
                            (change)="getPrivateCategory($event)">
                            <option *ngFor="let Cat of category" [value]="Cat.TYPE_DESC">{{ Cat.TYPE_DESC }}</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-xs-12 col-xl-8 col-md-8">
                        <div class="form-group">
                          <label for="taskName">Task Name</label>
                          <input type="text" maxlength="150" class="form-control" maxlength="150"
                            formControlName="taskName" />
                          <div *ngIf="taskNameMaxLength()">Max 150 Characters</div>
                        </div>
                      </div>
                    </div>
                    <div class="row description">
                      <div class="col-12">
                        <div class="form-group">
                          <label for="taskDescription">Task Description</label>
                          <textarea class="form-control" aria-describedby="task description" rows="3" maxlength="1000"
                            formControlName="taskDescription"></textarea>
                          <div *ngIf="descriptionMaxLength()">Max 1000 Characters</div>
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-xs-12 col-xl-4 col-md-4">
                        <div class="form-group">
                          <label for="project">Project</label>
                          <select class="h6 custom-select cate" formControlName="project" #projectSelect
                            (change)="onProjectSelect(projectSelect)">
                            <option value="" selected>Select</option>
                            <option *ngFor="let p of project" [ngValue]="p">{{ p.TYPE_DESC }}</option>
                          </select>
                        </div>
                      </div>


                      <div class="col-xs-12 col-xl-4 col-md-4">
                        <div class="form-group">
                          <label for="subProject">Sub-Project</label>
                          <select class="h6 custom-select cate" formControlName="subProject">
                            <option value="" selected>Select</option>
                            <option *ngFor="let s of sub_proj" [ngValue]="s">{{ s.TYPE_DESC }}</option>
                          </select>
                        </div>
                      </div>

                      <div class="col-xs-12 col-xl-4 col-md-4">
                        <div class="form-group">
                          <label for="completionDate">Completion Date</label>
                          <input type="date" class="form-control"  aria-describedby="depth"
                            formControlName="completionDate" />
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-xs-12 col-xl-4 col-md-4">
                        <div class="form-group">
                          <label for="assignedTo">Assigned To</label>
                          <input type="text" class="form-control" formControlName="assignedTo"
                            [class.disabled]="disablePrivate" [attr.disabled]="disablePrivate ? true : null"
                            (input)="filterEmployees($event)" appAlphabeticOnly />
                          <div style="width: 100%;" class="pr-10 mt-1">
                            <ul>
                              <li *ngFor="let event of filteredEmployees; let i = index;" class="active" type="button"
                                [class.active]="filteredEmployees" (click)="selectEmployee(event);">
                                {{ event.Assign_to }}
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                      <div class="col-xs-12 col-xl-8 col-md-8">
                        <div class="form-group">
                          <label for="tags">Tags</label>
                          <tag-input [addOnBlur]="true" [formControl]="taskForm.get('tags')">
                            <tag-input-dropdown [autocompleteItems]="allTags" [showDropdownIfEmpty]="true"
                              [dynamicUpdate]="true"></tag-input-dropdown>
                          </tag-input>
                        </div>
                      </div>
                    </div>


                    <div class="form-group">
                      <div class="source-preview-wrapper">
                        <div class="preview">
                          <div class="preview-elements">
                            <div class="custom-file" id="TaskInfocustom_file">
                              <input type="file" class="custom-file-input" id="customFile" formControlName="file"
                                (change)="onFileSelected($event)">
                              <label class="custom-file-label" for="customFile" id="AttachmentDetails">Attachment if
                                any:</label>
                            </div>
                            <div id="dvAtchment" style="display:none">
                              <a href="" target="_blank" id="DownAttchment">
                                <i class="fa fa-download" aria-hidden="true"></i><span>DownFileName</span>
                              </a>
                              <button type="button" style="background-color:transparent !important" aria-label="Close">
                                <img src="../../../../assets/Content/icons/Del.png" style="width:32px;" />
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</body>