/* @import url('../../../../assets/Content/css/main.css'); */

@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css');


.spaced-table tbody td {
    padding-top: 20px !important;
    padding-bottom: 20px !important;
}


.form-group {
    position: relative;
    margin-bottom: 1rem;
}

.form-group label {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    transition: top 0.2s ease, font-size 0.2s ease, color 0.2s ease;
}

.form-group input:focus~label,
.form-group input:not(:placeholder-shown)~label {
    top: 0rem;
    font-size: 1rem;
    color: #999;
}


.table-scroll {
    overflow-y: auto;
    max-height: 300px;
    border: 1px solid #ccc;
}

.table-scroll::-webkit-scrollbar {
    width: 10px;
}

.table-scroll::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.table-scroll::-webkit-scrollbar-thumb {
    background: #888;
}

.table-scroll::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.spaced-table thead {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: white;
}


.disabled-field {
    background-color: #f0f0f0;
    pointer-events: none;
    opacity: 1;
}

.remark-width {
    width: auto
}

.select-width {
    width: auto;
}

.attachment {
    width: auto;
    padding-top: 1rem;
}

.save-btn {
    width: auto;
    padding-top: 1rem;
}


.container-fluid {
    padding: 0 15px;
}

.form-group {
    margin-bottom: 1rem;
}

.pro-left{
    padding-left: 1rem;
}

.status{
    margin-top:6px;
}

app-progress-details {
    width: 100%;
}

@media (max-width: 767px) {
    .form-group {
        width: 100%;
        margin-bottom: 1rem;
    }

    .form-group input,
    .form-group select,
    .form-group button {
        width: 100%;
        box-sizing: border-box;
    }

    .form-group .custom-file .attachment {
        width: 100%;
    }

    .form-group .custom-file-input {
        width: calc(100% - 40px);
    }

    .form-group .custom-file-label {
        display: block;
        width: 100%;
        box-sizing: border-box;
        margin-bottom: 0.5rem;
    }

    .pro-left{
        padding-left: 0px;
    }

    .mob-perc{
        display: none;
    }

    .status{
        margin-top:0px;
    }


    .select-width {
        padding: 2rem 0 2rem 3rem; /* top right bottom left */
    }
    
   

    .form-group, label{
        padding-left: 2rem;
        padding-right: 2rem;
    } 



    /* .remark-width {
        width: 95%
    } */
}