/* Basic styling adjustments */
.mb-3 {
  margin-left: -20rem;
}

.form-group {
  margin-bottom: 5px;
}

.form-group label {
  font-size: 0.9em;
}

.active {
  background-color: white;
}

.doc_label {
  display: flex;
  margin: 1rem 2rem;
}

.sample-wrapper {
  width: 100%;
}

.search-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 5px;
}

/* Dropdown styling */
/* Dropdown styling */
.dropdown {
  max-height: 400px; /* Ensures the dropdown has a limited height */
  overflow-y: auto;
  border: 1px solid #ddd;
  background-color: white;
  z-index: 1000;
}

.dropdown-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  max-height: 400px; /* Ensure the list itself is limited in height */
}

.category-header {
  font-size: 1.2em;
  margin: 10px 0;
  padding: 5px;
}

.dropdown-list li {
  padding: 10px 15px;
  cursor: pointer;
  transition: background-color 0.3s;
  height: 40px; /* Set a fixed height for each list item */
}

.dropdown-list li:hover {
  background-color: rgba(216, 87, 87, 0.1);
}

.dropdown-list li.selected {
  background-color: rgba(216, 87, 87, 0.2);
}


/* Progress Bar */
.progress {
  background: #bebfbf;
  border-radius: 20px;
  margin: 0;
}

.progress .progress-bar {
  border-radius: 20px;
  box-shadow: none;
  animation: animate-positive 2s;
}

.tab-content {
  max-height: calc(100vh - 138px);
  overflow-x: auto;
  overflow-y: auto;
}

.tab-content::-webkit-scrollbar {
  width: 8px;
}

.tab-content::-webkit-scrollbar-track {
  background-color: transparent;
}

.tab-content::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 4px;
}

.tab-content::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

/* Responsive styles */
@media (max-width: 992px) {
  /* Body adjustments */
  body {
    padding-left: 0;
  }

  /* Dropdown adjustments */
  .dropdown-list {
    font-size: small;
    width: 100%; /* Ensure dropdown takes up the full width */
  }

  .search-input {
    font-size: small;
    width: 100%; /* Full width for search bar */
  }

  .dropdown-list li {
    font-size: small;
    padding: 12px 15px; /* Adjust padding for mobile */
  }

  /* Ensure inputs take full width */
  .input-container select,
  .input-container input {
    width: 100%;
  }

  .sample-wrapper {
    padding: 5px;
    width: 35rem;
    margin-left: 34%;
    margin-top: -5rem;
  }

  .no-data-message {
    padding: 10px;
  }
}

@media (max-width: 380px) {
  /* Reduce padding and margins for small screens */
  .dropdown-list li {
    font-size: small;
    padding: 8px 12px;
  }

  .search-input {
    font-size: small;
    width: 100%; /* Full width for search bar */
  }

  .dropdown-list {
    padding: 10px;
    font-size: small;

  }

  .sample-wrapper {
    padding: 5px;
    width: 35rem;
    margin-left: 34%;
    margin-top: -5rem;
  }
}

