<body
  class="layout layout-vertical layout-left-navigation layout-below-toolbar layout-below-footer side-bar-hover side-bar-scroll"
  [class.open]="isOpen">
  <div id="wrapper" class="">

    <aside id="aside" class="aside aside-left" data-fuse-bar="aside" data-fuse-bar-media-step="md"
      data-fuse-bar-position="left">
      <div class="aside-content bg-primary-700 text-auto">
        <div class="aside-toolbar">
          <div class="logo" *ngIf="loggedInUser && loggedInUser.length > 0">       
            <span class="logo-icon">{{ loggedInUser[0]?.COMPANY_NAME.charAt(0) }}</span>
            <span class="logo-text">{{ loggedInUser[0]?.COMPANY_NAME}}</span>
          </div>

          <button id="toggle-fold-aside-button" type="button" class="btn btn-icon d-none d-lg-block"
            data-fuse-aside-toggle-fold>
            <i class="icon icon-backburger"></i>
          </button>
        </div>

        <ul class="nav flex-column" id="sidenav" data-children=".nav-item">
          <div class="subheader">
            <span>APPS</span>
          </div>

          <div class="tab-content">
            <li class="nav-item" role="tab">
              <a class="nav-link ripple with-arrow btn" (click)="navigateToDashboardProject()"
                [ngClass]="{ 'active': selectedTab === 'dashboard' }">
                <i class="icon s-4 icon-tile-four"></i>
                <span>Dashboards</span>
              </a>
            </li>

            <li class="nav-item" role="tab">
              <a class="nav-link ripple with-arrow btn" (click)="toggleTaskDropdown()">
                <i class="icon s-4 fa fa-sitemap"></i>
                <span>Task Management</span>
              </a>
              <ul class="nav flex-column" *ngIf="isTaskDropdownOpen">

                <li class="nav-item ">
                  <a class="nav-link ripple btn" [ngClass]="{ 'active': selectedTab === 'task-management' }" (click)="navigateToTask()">
                    <div class="py-2">
                      <i class="icon s-4 fa fa-tasks"></i>
                      <span>Task</span>
                    </div>                    
                  </a>
                </li>

                <li class="nav-item">
                  <a class="nav-link ripple btn" [ngClass]="{ 'active': selectedTab === 'recursive-task' }" (click)="navigateToRecursiveTask()">
                    <div class="py-2">
                      <i class="icon s-4 fa fa-repeat"></i>
                      <span>Recursive Task</span>
                    </div>                  
                  </a>
                </li>

                <!-- <li class="nav-item">
                  <a class="nav-link ripple btn" [ngClass]="{ 'active': selectedTab === 'approval-screen' }" (click)="navigateToApprovlTempelate()">
                    <div class="py-2">
                      <i class="icon s-4 icon-checkbox-marked"></i>
                      <span>Approval Tempelate</span>
                    </div>                  
                  </a>
                </li> -->

              </ul>
            </li>   
            
            <li class="nav-item" role="tab">
              <a class="nav-link ripple with-arrow btn" 
                (click)="toggleComplianceDropdown()">
                <i class="icon s-4 fa fa-file-alt"></i>
                <span>Templates</span>
              </a>
              <ul class="nav flex-column" *ngIf="isComplianceDropdown">

                <li class="nav-item">
                  <a class="nav-link ripple btn"  [ngClass]="{ 'active': selectedTab === 'category-master' }" (click)="navigateToCategoryMaster()">
                    <div class="py-2">
                      <i class="icon s-4 fa fa-layer-group"></i>
                      <span><small>Category Master</small></span>
                    </div>                  
                  </a>
                </li>


                <li class="nav-item">
                  <a class="nav-link ripple btn"  [ngClass]="{ 'active': selectedTab === 'instruction-master' }" (click)="navigateToInstructionMaster()">
                    <div class="py-2">
                      <i class="icon s-4 fa fa-book"></i>
                      <span><small>Instruction Master</small></span>
                    </div>                  
                  </a>
                </li>

                <li class="nav-item">
                  <a class="nav-link ripple btn"  [ngClass]="{ 'active': selectedTab === 'document-tempelate' }" (click)="navigateToDocumentTempelate()">
                    <div class="py-2">
                      <i class="icon s-4 fa fa-folder"></i>
                      <span><small>Document Tempelate</small></span>
                    </div>                  
                  </a>
                </li>

                <li class="nav-item">
                  <a class="nav-link ripple btn" [ngClass]="{ 'active': selectedTab === 'authority-tempelate' }" (click)="navigateToApprovlTempelate()" >  <!--[ngClass]="{ 'active': selectedTab === 'approved-tempelate' }" (click)="navigateToApprovedTempelate()"-->
                    <div class="py-2">
                      <i class="icon s-4 icon-checkbox-marked"></i>
                      <span><small>Approval Tempelate</small></span>
                    </div>                  
                  </a>
                </li>             

              </ul>
            </li>
                        
            <!-- <li class="nav-item" role="tab">
              <a class="nav-link ripple with-arrow btn" (click)="navigateToUploadProject()"
                [ngClass]="{ 'active': selectedTab === 'project-uploader' }">
                <i class="icon s-4 icon-checkbox-marked"></i>
                <span>Project Uploader</span>
              </a>
            </li> -->

            <li class="nav-item" role="tab" *ngIf="selectedUserAccess()">
              <a class="nav-link ripple with-arrow btn" (click)="toggleApprovalDropdown()">
                <i class="icon s-4 fa fa-chart-line"></i>
                <span>Projects</span>
              </a>
              <ul class="nav flex-column" *ngIf="isApprovalDropdown">
          
                <li class="nav-item">
                  <a class="nav-link ripple btn" [ngClass]="{ 'active': selectedTab === 'project-defination' }" (click)="navigateToProjectDefination()">
                    <div class="py-2">
                      <i class="icon s-4 fa fa-clipboard-list"></i>
                      <span><small>Project Defination</small></span>
                    </div>                  
                  </a>
                </li>

                <li class="nav-item">
                  <a class="nav-link ripple btn" [ngClass]="{ 'active': selectedTab === 'project-document-depository' }" (click)="navigateToProjectDocDepository()">
                    <div class="mt-2">
                      <i class="icon s-4 fa fa-folder-closed"></i>
                      <span><small>Project Document Depository</small> </span>                     
                    </div>                  
                  </a>
                </li>

                <li class="nav-item">
                  <a class="nav-link ripple btn" [ngClass]="{ 'active': selectedTab === 'project-document-search' }" (click)="navigateToProjectDS()">
                    <div class="mt-2">
                      <i class="icon s-4 icon-checkbox-marked"></i>
                      <span><small>Project Document Search</small></span>
                    </div>                  
                  </a>
                </li>


                <li class="nav-item ">
                  <a class="nav-link ripple btn" [ngClass]="{ 'active': selectedTab === 'add-compliance' }" (click)="navigateToCompliance()">
                    <div class="py-2">
                      <i class="icon s-4 fa fa-certificate"></i>
                      <span>Compliance</span>
                    </div>                    
                  </a>
                </li> 

                <!-- <li class="nav-item">
                  <a class="nav-link ripple btn" [ngClass]="{ 'active': selectedTab === 'approval-task-initiation' }" (click)="navigateToApprovalTaskInitiation()">
                    <div class="py-2">
                      <i class="icon s-4 icon-checkbox-marked"></i>
                      <span><small>Approval Task Initiation</small></span>
                    </div>                  
                  </a>
                </li> -->

              </ul>
            </li>
            
          </div>
        </ul>
      </div>
    </aside>
  </div>
</body>