<body class="layout layout-left-navigation layout-below-toolbar layout-below-footer">
    <main>
        <div id="wrapper">
            <div class="content-wrapper">
                <div class="">
                    <div id="e-commerce-product" class="simple tabbed">
                        <app-header-bar (loggedInUserEmitter)="receiveLoggedInUser($event)"></app-header-bar>

                        <div>
                            <div class="bg-primary text-auto row align-items-center justify-content-between p-3">

                                <div class="row no-gutters align-items-center">
                                    <div class="product-image mr-4 ml-8">
                                        <img
                                            src="../../../../assets/Content/images/ecommerce/product-image-placeholder.png">
                                    </div>
                                    <div class="truncate-date">
                                        <b>Project Document Depository</b>
                                    </div>
                                </div>

                                <div class="flex-grow-1 ">

                                </div>
                                <div class="mr-8 d-flex">

                                    <div>
                                        <button type="button" class="btn btn-light" (click)="onSubmit()"
                                            id="btnSaveTask">
                                            {{ taskData?.MKEY ? 'Update' : 'Save' }}
                                        </button>
                                    </div>
                                    <button class="btn btn-light mx-2" (click)="navigateToProjectDocDepository()" id="btnSaveTask">
                                        BACK
                                    </button>   
                                </div>
                            </div>
                            <form [formGroup]="docDepositoryForm" (ngSubmit)="createData()">
                                <div class="tab-content">
                                    <div class="p-2 card">
                                        <div class="row justify-content-between">

                                            <div class="col-xs-12 col-xl-6 col-md-12">
                                                <div class="form-group">
                                                    <label for="taskName">Property</label>

                                                    <ng-container *ngIf="taskData?.MKEY">
                                                        <select class="form-control" formControlName="propertyType"
                                                            [(ngModel)]="taskData.property" #projectSelect
                                                            (change)="onProjectSelect(projectSelect)">
                                                            <option value="0">Select</option>
                                                            <option *ngFor="let p of project" [ngValue]="p"
                                                                [selected]="p.TYPE_DESC === taskData.PROPERTY_NAME">
                                                                {{ p.TYPE_DESC }}
                                                            </option>
                                                        </select>
                                                    </ng-container>

                                                    <ng-container *ngIf="!taskData?.MKEY">
                                                        <select class="form-control " formControlName="propertyType"
                                                            #projectSelect (change)="onProjectSelect(projectSelect)">
                                                            <option value="0" selected>Select</option>
                                                            <option *ngFor="let p of project" [ngValue]="p">{{
                                                                p.TYPE_DESC }}</option>
                                                        </select>
                                                    </ng-container>

                                                </div>
                                            </div>

                                            <div class="col-xs-12 col-xl-6 col-md-12">
                                                <div class="form-group">
                                                    <label for="category">Building</label>

                                                    <ng-container *ngIf="taskData?.MKEY">
                                                        <select class="form-control" formControlName="buildingType"
                                                            name="buildingType" [(ngModel)]="taskData.projecT_NAME">
                                                            <option value="0">Select</option>
                                                            <option *ngFor="let s of sub_proj" [ngValue]="s"
                                                                [selected]="s.TYPE_DESC === taskData.BUILDING_NAME">
                                                                {{ s.TYPE_DESC }}
                                                            </option>
                                                        </select>
                                                    </ng-container>

                                                    <ng-container *ngIf="!taskData?.MKEY">
                                                        <select class="form-control" formControlName="buildingType">
                                                            <option value="0">Select
                                                            </option>
                                                            <option *ngFor="let s of sub_proj" [ngValue]="s">{{
                                                                s.TYPE_DESC }}
                                                            </option>
                                                        </select>
                                                    </ng-container>

                                                </div>
                                            </div>
                                        </div>

                                        <div class="row justify-content-center">
                                            <div class="col-xs-12 col-xl-4 col-md-12 mx-4">
                                                <div class="row">
                                        
                                        
                                                    <div class="">
                                                        <!-- <h6>Details:</h6> -->
                                                        <div class="sample-wrapper ml-8">
                                                            <div
                                                                *ngFor="let doc of selectedDocsMap['checklist']; let i = index">
                                                                <span>Document Name:-</span>&nbsp;
                                                                <span>{{doc.typE_DESC}}</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="">

                                                    <div *ngIf="docType[0]?.DOC_NUM_APP_FLAG === 'Y'"
                                                        class="col-xs-12 col-xl-12 col-md-12 mb-6 ">
                                                        <div class="form-group">
                                                            <label
                                                                for="documentAbbrivation">{{docType[0]?.DOC_NUM_FIELD_NAME}}</label>

                                                            <ng-container *ngIf="taskData?.MKEY">
                                                                <input type="text" maxlength="150" class="form-control"
                                                                    formControlName="documentNumberFieldName"
                                                                    [(ngModel)]="taskData.DOC_NUMBER" />
                                                            </ng-container>

                                                            <ng-container *ngIf="!taskData?.MKEY">
                                                                <input type="text" maxlength="150" class="form-control"
                                                                    formControlName="documentNumberFieldName" />
                                                            </ng-container>

                                                        </div>
                                                    </div>

                                                    <div *ngIf="docType[0]?.DOC_NUM_DATE_APP_FLAG === 'Y'"
                                                        class="col-xs-12 col-xl-12 col-md-12 mb-6">
                                                        <div class="form-group">
                                                            <label
                                                                for="documentAbbrivation">{{docType[0]?.DOC_NUM_DATE_NAME}}</label>
                                                            <ng-container *ngIf="taskData?.MKEY">
                                                                <input type="date" maxlength="150" class="form-control"
                                                                    (ngModelChange)="taskData.CREATION_DATE = $event"
                                                                    [ngModel]="taskData.CREATION_DATE | date: 'yyyy-MM-dd'"
                                                                    formControlName="documentDateFieldName" />
                                                            </ng-container>
                                                            <ng-container *ngIf="!taskData?.MKEY">
                                                                <input type="date" maxlength="150" class="form-control"
                                                                    formControlName="documentDateFieldName" />
                                                            </ng-container>
                                                        </div>
                                                    </div>

                                                    <div *ngIf="docType[0]?.DOC_NUM_VALID_FLAG === 'Y'"
                                                        class="col-xs-12 col-xl-12 col-md-12">
                                                        <div class="form-group">
                                                            <label for="documentAbbrivation">validity Date</label>
                                                            <ng-container *ngIf="taskData?.MKEY">
                                                                <input type="date" maxlength="150" class="form-control"
                                                                    (ngModelChange)="taskData.VALIDITY_DATE = $event"
                                                                    [ngModel]="taskData.VALIDITY_DATE | date: 'yyyy-MM-dd'"
                                                                    formControlName="validityDate" />
                                                            </ng-container>
                                                            <ng-container *ngIf="!taskData?.MKEY">
                                                                <input type="date" maxlength="150" class="form-control"
                                                                    formControlName="validityDate" />
                                                            </ng-container>
                                                        </div>
                                                    </div>

                                                    <div class="col-xs-12 col-xl-12 col-md-12 ">
                                                        <div class="form-group">
                                                            <div class="source-preview-wrapper">

                                                                <ng-container>
                                                                    <div class="preview">
                                                                        <div class="preview-elements">
                                                                            <div class="custom-file"
                                                                                id="TaskInfocustom_file">

                                                                                <input type="file"
                                                                                    class="custom-file-input"
                                                                                    id="customFile"
                                                                                    formControlName="documentName"
                                                                                    (change)="onFileSelected($event)">
                                                                                <label class="custom-file-label"
                                                                                    for="customFile">Attachment if
                                                                                    <!-- id="AttachmentDetails"-->
                                                                                    any add:</label>
                                                                            </div>

                                                                        </div>
                                                                    </div>
                                                                </ng-container>
                                                                <br>
                                                                <br>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-xs-12 col-xl-6 col-md-12">
                                                <div class="form-group sample-wrapper">
                                                    <label for="category">Document Abbr / Document name</label>
                                                    <div class="sample-wrapper">
                                                        <div class="pl-4 combo-section">
                                                            <input type="text" placeholder="Search Documents"
                                                                [(ngModel)]="searchQuery"
                                                                [ngModelOptions]="{standalone: true}"
                                                                class="search-input" />
                                                            <div *ngIf="filteredDocs.length > 0" class="">
                                                                <ul class="dropdown-list">
                                                                    <ng-container
                                                                        *ngFor="let country of getUniqueDocs('checklist')">
                                                                        <div class="country-header justify-content-center"
                                                                            style="color: rgb(216, 87, 87);">
                                                                            <b>{{ country }}</b>
                                                                        </div>
                                                                        <ng-container
                                                                            *ngFor="let sortedDoc of (getGroupedAndSortedDocs('checklist') | filterDocsPipe: searchQuery)[country]">
                                                                            <li (click)="toggleSelection('checklist', sortedDoc)"
                                                                                [class.selected]="isSelected('checklist', sortedDoc)">
                                                                                {{ sortedDoc.typE_DESC }}
                                                                            </li>
                                                                        </ng-container>
                                                                    </ng-container>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="">
                                            <label for="selectedFiles">Selected Files</label>
                                            <div class="sample-wrapper">
                                                <div class="pl-4 combo-section">
                                                    <div *ngIf="myFiles.length > 0">
                                                        <ul class="dropdown-list">
                                                            <!-- Iterate through myFiles -->
                                                            <ng-container *ngFor="let file of myFiles; let i = index">
                                                                <li class="file-item">
                                                                    <span>{{ file.name }}</span>

                                                                    <!--(click)="downloadFile(file.file)"  *ngIf="taskData?.MKEY"-->
                                                                    <ng-container *ngIf="taskData?.MKEY">
                                                                        <a class="fa fa-download mx-6"
                                                                            [href]="downloadFile(file.file)"
                                                                            aria-hidden="true"></a>
                                                                    </ng-container>

                                                                    <i class="fa fa-trash mx-3"
                                                                        (click)="removeFile(i)"></i>

                                                                </li>
                                                            </ng-container>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>