<body class="layout layout-left-navigation layout-below-toolbar layout-below-footer">
  <main>
    <div id="wrapper">
      <div class="content-wrapper">
        <div class="">
          <div id="e-commerce-product" class="simple tabbed">
            <app-header-bar (loggedInUserEmitter)="receiveLoggedInUser($event)"></app-header-bar>

            <div class="bg-primary text-auto row align-items-center justify-content-between p-3">

              <div class="row no-gutters align-items-center">
                <div class="product-image mr-4 ml-8">
                  <img src="../../../../assets/Content/images/ecommerce/product-image-placeholder.png">
                </div>
                <div>
                  <b>Project Defination</b>
                </div>
              </div>

              <div class="flex-grow-1"></div>
              <div class="d-flex mr-8">
                <div *ngIf="!taskData?.mkey">
                  <button type="submit" class="btn btn-light mr-2" (click)="onAddProjDef()" id="btnSaveTask">
                    ADD
                  </button>
                </div>

                <div *ngIf="taskData?.mkey">
                  <button type="submit" class="btn btn-light mr-2" (click)="onUpdateProjDef()" id="btnSaveTask">
                    SAVE
                  </button>
                </div>

                
                  <button class="btn btn-light mr-2" (click)="navigateToProjectDefination()" id="btnSaveTask">
                    BACK
                  </button>                
              </div>

            </div>
            <div class="tab-content">
              <form [formGroup]="projectDefForm" (ngSubmit)="onSubmit()">
                <div class="p-6">

                  <div class="row">
                    <div class="col-xs-12 col-xl-4 col-md-12">
                      <div class="form-group">
                        <ng-container *ngIf="taskData?.mkey">
                          <label for="taskName">Project Abbrivation</label>
                          <input type="text" formControlName="projectAbbr" [(ngModel)]="taskData.projecT_ABBR"
                            maxlength="150" class="form-control" maxlength="150" />
                        </ng-container>

                        <ng-container *ngIf="!taskData?.mkey">
                          <label for="taskName">Project Abbrivation</label>
                          <input type="text" formControlName="projectAbbr" maxlength="150" class="form-control"
                            maxlength="150" />
                        </ng-container>

                      </div>
                    </div>

                    <div class="col-xs-12 col-xl-4 col-md-12">
                      <div class="form-group">
                        <ng-container *ngIf="taskData?.mkey">
                          <label for="taskName">Property</label>
                          <select class="form-control" formControlName="property" 
                            [attr.disabled]="hasInitiatedTasks() ? true : null"
                            [(ngModel)]="taskData.property"
                            #projectSelect (change)="onProjectSelect(projectSelect)">
                            <option value="0">Select</option>
                            <option *ngFor="let p of project" [ngValue]="p"
                              [selected]="p.TYPE_DESC === taskData.project_Name">
                              {{ p.TYPE_DESC }}
                            </option>
                          </select>

                        </ng-container>

                        <ng-container *ngIf="!taskData?.mkey">
                          <label for="taskName">Property</label>
                          <select class="form-control " formControlName="property" #projectSelect
                            (change)="onProjectSelect(projectSelect)">
                            <option value="" selected>Select</option>
                            <option *ngFor="let p of project" [ngValue]="p">{{ p.TYPE_DESC }}</option>
                          </select>
                        </ng-container>

                      </div>
                    </div>

                    <div class="col-xs-12 col-xl-4 col-md-12">
                      <div class="form-group">
                        <ng-container *ngIf="taskData?.mkey">
                          <label for="category">Building</label>
                          <select class="form-control" formControlName="subProject"
                            [attr.disabled]="hasInitiatedTasks() ? true : null"
                            [(ngModel)]="taskData.sub_proj_name"
                            name="subProject">
                            <option value="0">Select</option>
                            <option *ngFor="let s of sub_proj" [selected]="s.TYPE_DESC === taskData.sub_proj_name">
                              {{ s.TYPE_DESC }}
                            </option>
                          </select>
                        </ng-container>

                        <ng-container *ngIf="!taskData?.mkey">
                          <label for="category">Building</label>
                          <select class="form-control" formControlName="subProject"
                          >
                            <option value="0">Select</option>
                            <option *ngFor="let s of sub_proj" [ngValue]="s">
                              {{ s.TYPE_DESC }}
                            </option>
                          </select>
                        </ng-container>
                      </div>
                    </div>
                  </div>

                  <div class="row">

                    <div class="col-xs-12 col-xl-4 col-md-12 ">
                      <div class="form-group">
                        <ng-container *ngIf="taskData?.mkey">
                          <label for="taskName">Legal Entity</label>
                          <input type="text" maxlength="150" formControlName="legalEntity"
                            [(ngModel)]="taskData.legaL_ENTITY" class="form-control" maxlength="150" />
                        </ng-container>

                        <ng-container *ngIf="!taskData?.mkey">
                          <label for="taskName">Legal Entity</label>
                          <input type="text" maxlength="150" formControlName="legalEntity" class="form-control"
                            maxlength="150" />
                        </ng-container>

                      </div>
                    </div>
                    <div class="col-xs-12 col-xl-8 col-md-12">
                      <div class="form-group">

                        <ng-container *ngIf="taskData?.mkey">
                          <label for="taskName">Project Address</label>
                          <textarea type="text" maxlength="" [(ngModel)]="taskData.projecT_ADDRESS"
                            formControlName="projAddress" class="form-control" rows="5" maxlength=""> </textarea>
                        </ng-container>

                        <ng-container *ngIf="!taskData?.mkey">
                          <label for="taskName">Project Address</label>
                          <textarea type="text" maxlength="150" formControlName="projAddress" class="form-control"
                            rows="5" maxlength="150"> </textarea>
                        </ng-container>

                      </div>
                    </div>
                  </div>
                  <div class="classification-border px-2 py-2 mt-2">

                    <div class="row pl-3">
                      <div class="col-xs-12 col-xl-4 col-md-12">
                        <div class="form-group d-flex justify-content-between">

                          <label for="category">Building Classification</label>

                          <ng-container *ngIf="taskData?.mkey">
                            <select class="h6 form-control" formControlName="bldCla"                                                            
                              [attr.disabled]="hasInitiatedTasks() ? true : null"
                              [(ngModel)]="taskData.buildinG_CLASSIFICATION">
                              <option value=""> --SELECT--</option>
                              <option *ngFor="let building of buildingList"
                                [selected]="building.typE_DESC === taskData.buildingName" [value]="building.mkey">
                                {{building.typE_DESC}}
                              </option>
                            </select>
                          </ng-container>

                          <ng-container *ngIf="!taskData?.mkey">
                            <!-- <label for="category">Building Classification</label> -->
                            <select class="h6 form-control" formControlName="bldCla">
                              <option value=""> --SELECT--</option>
                              <option *ngFor="let building of buildingList" [value]="building.mkey">
                                {{building.typE_DESC}}
                              </option>
                            </select>
                          </ng-container>

                        </div>
                      </div>

                      <div class="col-xs-12 col-xl-4 col-md-12">
                        <div class="form-group d-flex justify-content-between">

                          <ng-container *ngIf="taskData?.mkey">
                            <label for="category">Building Standard</label>
                            <select class="h6 form-control" formControlName="blsStandard"
                              [attr.disabled]="hasInitiatedTasks() ? true : null"
                              [(ngModel)]="taskData.buildinG_STANDARD">
                              <option value=""> --SELECT--</option>
                              <option *ngFor="let standard of standardList"
                                [selected]="standard.typE_DESC === taskData.standardName" [value]="standard.mkey">
                                {{standard.typE_DESC}}
                              </option>
                            </select>
                          </ng-container>

                          <ng-container *ngIf="!taskData?.mkey">
                            <label for="category">Building Standard</label>
                            <select class="h6 form-control" formControlName="blsStandard">
                              <option value=""> --SELECT--</option>
                              <option *ngFor="let standard of standardList" [value]="standard.mkey">
                                {{standard.typE_DESC}}
                              </option>
                            </select>
                          </ng-container>

                        </div>
                      </div>

                      <div class="col-xs-12 col-xl-4 col-md-12">
                        <div class="form-group d-flex justify-content-between">

                          <ng-container *ngIf="taskData?.mkey">
                            <label for="category">Statutory Authority</label>
                            <select class="h6 form-control" formControlName="statutoryAuth"
                              [attr.disabled]="hasInitiatedTasks() ? true : null"
                              [(ngModel)]="taskData.statutorY_AUTHORITY">
                              <option value=""> --SELECT--</option>
                              <option *ngFor="let statutoryAuth of statutoryAuthList"
                                [selected]="statutoryAuth.typE_DESC === taskData.authorityName"
                                [value]="statutoryAuth.mkey">
                                {{statutoryAuth.typE_DESC}}
                              </option>
                            </select>
                          </ng-container>

                          <ng-container *ngIf="!taskData?.mkey">
                            <label for="category">Statutory Authority</label>
                            <select class="h6 form-control" formControlName="statutoryAuth">
                              <option value=""> --SELECT--</option>
                              <option *ngFor="let statutoryAuth of statutoryAuthList" [value]="statutoryAuth.mkey">
                                {{statutoryAuth.typE_DESC}}
                              </option>
                            </select>
                          </ng-container>

                        </div>
                      </div>
                    </div>
                    <div class="d-flex justify-content-center mt-2 mr-3">
                      <i class="fa-solid plus btn mr-2" type="button" *ngIf="isLoading"
                        (click)="getOptionList()" style="background-color: rgb(196, 147, 82);"><small>Get
                          List</small></i>

                      <div>
                        <button *ngIf="!isCleared && updatedDetails" class="fa-solid plus btn mr-2" type="button"
                          [disabled]="disableClear || hasDisabledClear()"
                          (click)="confirmClear()">
                          <small>Clear</small>
                        </button>

                        <!-- Reset Button -->
                        <i *ngIf="isCleared || !updatedDetails" class="fa-solid plus btn" type="button"
                          (click)="reset()">
                          <small>Reset</small>
                        </i>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="accordion">
                  <div *ngFor="let item of accordionItems; let i = index" class="accordion-item">

                    <h2 class="accordion-header">
                      <button (click)="toggle(i)" class="accordion-button" type="button">
                        {{ item.title }}
                      </button>
                    </h2>
                    <div class="accordion-body" [class.show]="activeIndices.includes(i)">

                      <div class="row justify-content-between" style="height: 48rem;">


                        <div class="col-xs-12 col-xl-6 col-md-12">
                          <div class="">
                            <div class="sample-wrapper">
                              <div class="combo-section">
                                <div>
                                  <!-- <input type="text" (input)="filterCities()" placeholder="Search Project"
                                    class="search-input" /> -->

                                  <ng-container *ngIf="taskData?.mkey">

                                    <ul class="dropdown-list" style="height:40rem">
                                      <li class="sticky">
                                        <span class="select-all-container">
                                          <input type="checkbox" class="task-item" (change)="selectAll()"
                                            [checked]="isAllSelectedCheck">
                                        </span>                                                                               
                                      </li>
                                   
                                      <hr>
                                      <ng-template #recursiveTaskTemplate let-tasks>

                                        <ng-container *ngFor="let task of tasks">

                                          <li class="task-item" [ngClass]="{'selected': isSelected(task)}">
                                            <ng-container *ngIf="task.TASK_NO?.TASK_NO">

                                              <div class="task-details">
                                                <span class="select-all-container">
                                                  <input type="checkbox" class="task-item" *ngIf="!disableChilCheckBox"
                                                    [checked]="task.checked"
                                                    (click)="isTaskDisabled(task) ? null : toggleSelection(task)"
                                                    [ngClass]="{'selected': isSelected(task) || isTaskInSavedList(task), 'disabled': isTaskDisabled(task)}"
                                                    [attr.disabled]="isTaskDisabled(task) ? '' : null">
                                                </span>
                                                <span class="task-number"
                                                  [style.marginLeft.px]="calculateIndentation(task.TASK_NO.TASK_NO, task.subtask && task.subtask.length > 15 ? 15 : 30,  task.TASK_NO.start_date, task.TASK_NO.end_date)">
                                                  <mat-icon (click)="toggleVisibility(task)" style="cursor: pointer;">
                                                    <img *ngIf="task.subtask && task.subtask.length > 0"
                                                      src="../../../../assets/Content/images/{{ task.visible ? 'collapse.png' : 'expand.png' }}">
                                                  </mat-icon>
                                                  {{ task.TASK_NO.TASK_NO }}
                                                </span>
                                                <div class="task-detail">{{ task.TASK_NO?.maiN_ABBR }}</div>

                                                <div class="task-detail">{{ task.TASK_NO?.abbR_SHORT_DESC }}</div>
                                              </div>
                                            </ng-container>
                                          </li>

                                          <ng-container *ngIf="task.visible && task.subtask && task.subtask.length > 0">
                                            <ng-container
                                              *ngTemplateOutlet="recursiveTaskTemplate; context: { $implicit: task.subtask }"></ng-container>
                                          </ng-container>

                                        </ng-container>

                                      </ng-template>

                                      <ng-container *ngFor="let task of subTasks">
                                        <li class="task-item" [ngClass]="{'selected': isSelected(task)}">
                                          <ng-container *ngIf="task.TASK_NO?.TASK_NO">
                                            <div class="task-details">
                                              <span class="select-all-container">
                                                <input type="checkbox" class="task-item"
                                                  [ngClass]="{'selected': isSelected(task) || isTaskInSavedList(task), 'disabled': isTaskDisabled(task)}"
                                                  [attr.disabled]="isTaskDisabled(task) ? '' : null"
                                                  [checked]="task.checked"
                                                  (click)="isTaskDisabled(task) ? null : toggleSelection(task)"><!--[attr.disabled]="disableChilCheckBox ? '' : null"-->
                                              </span>
                                              <span class="task-number"
                                                [style.marginLeft.px]="calculateIndentation(task.TASK_NO.TASK_NO, task.subtask && task.subtask.length > 15 ? 15 : 30,  task.TASK_NO.start_date, task.TASK_NO.end_date)">
                                                <mat-icon (click)="toggleVisibility(task)" style="cursor: pointer;">
                                                  <img *ngIf="task.subtask && task.subtask.length > 0"
                                                    src="../../../../assets/Content/images/{{ task.visible ? 'collapse.png' : 'expand.png' }}">
                                                </mat-icon>
                                                {{ task.TASK_NO.TASK_NO }}
                                              </span>
                                              <div class="task-detail">{{ task.TASK_NO?.maiN_ABBR }}</div>

                                              <div class="task-detail">{{ task.TASK_NO?.abbR_SHORT_DESC }}</div>
                                            </div>
                                          </ng-container>
                                        </li>

                                        <ng-container *ngIf="task.visible && task.subtask && task.subtask.length > 0">
                                          <ng-container
                                            *ngTemplateOutlet="recursiveTaskTemplate; context: { $implicit: task.subtask }"></ng-container>
                                        </ng-container>
                                      </ng-container>
                                    </ul>
                                  </ng-container>


                                  <ng-container *ngIf="!taskData?.mkey">

                                    <ul class="dropdown-list" style="height:40rem">
                                      <li class="sticky" *ngIf="!isLoading">
                                        <span class="select-all-container">
                                          <input type="checkbox" class="task-item" [checked]="isAllSelectedCheck"
                                            (change)="selectAll()">
                                        </span>
                                      </li>
                                      <!-- <li class="sticky">
                                        <span class="select-all-container">
                                          <input type="checkbox" class="task-item" (change)="selectAll()"
                                            [checked]="!isAllSelectedCheck">
                                        </span>
                                                                               
                                      </li> -->
                                      <hr>

                                      <ng-template #recursiveTaskTemplate let-tasks>

                                        <ng-container *ngFor="let task of tasks">

                                          <li class="task-item">
                                            <ng-container *ngIf="task.TASK_NO?.TASK_NO">

                                              <div class="task-details">
                                                <span class="select-all-container">
                                                  <input type="checkbox" class="task-item" *ngIf="!disableChilCheckBox"
                                                    [checked]="task.checked"
                                                    (click)="isTaskDisabled(task) ? null : toggleSelection(task)"
                                                    [ngClass]="{'selected': isSelected(task) || isTaskInSavedList(task), 'disabled': isTaskDisabled(task)}"
                                                    [attr.disabled]="isTaskDisabled(task) ? '' : null">
                                                </span>
                                                <span class="task-number"
                                                  [style.marginLeft.px]="calculateIndentation(task.TASK_NO.TASK_NO, task.subtask && task.subtask.length > 15 ? 15 : 30,  task.TASK_NO.start_date, task.TASK_NO.end_date)">
                                                  <mat-icon (click)="toggleVisibility(task)" style="cursor: pointer;">
                                                    <img *ngIf="task.subtask && task.subtask.length > 0"
                                                      src="../../../../assets/Content/images/{{ task.visible ? 'collapse.png' : 'expand.png' }}">
                                                  </mat-icon>
                                                  {{ task.TASK_NO.TASK_NO }}
                                                </span>
                                                <div class="task-detail">{{ task.TASK_NO?.maiN_ABBR }}</div>

                                                <div class="task-detail">{{ task.TASK_NO?.abbR_SHORT_DESC }}</div>
                                              </div>
                                            </ng-container>
                                          </li>

                                          <ng-container *ngIf="task.visible && task.subtask && task.subtask.length > 0">
                                            <ng-container
                                              *ngTemplateOutlet="recursiveTaskTemplate; context: { $implicit: task.subtask }"></ng-container>
                                          </ng-container>
                                        </ng-container>
                                      </ng-template>

                                      <ng-container *ngFor="let task of subTasks">
                                        <li class="task-item">
                                          <ng-container *ngIf="task.TASK_NO?.TASK_NO">
                                            <div class="task-details">
                                              <span class="select-all-container">
                                                <input type="checkbox" class="task-item"
                                                  [ngClass]="{'selected': isSelected(task) || isTaskInSavedList(task), 'disabled': isTaskDisabled(task)}"
                                                  [attr.disabled]="isTaskDisabled(task) ? '' : null"
                                                  [checked]="task.checked"
                                                  (click)="isTaskDisabled(task) ? null : toggleSelection(task)"><!--[attr.disabled]="disableChilCheckBox ? '' : null"-->
                                              </span>
                                              <span class="task-number"
                                                [style.marginLeft.px]="calculateIndentation(task.TASK_NO.TASK_NO, task.subtask && task.subtask.length > 15 ? 15 : 30,  task.TASK_NO.start_date, task.TASK_NO.end_date)">
                                                <mat-icon (click)="toggleVisibility(task)" style="cursor: pointer;">
                                                  <img *ngIf="task.subtask && task.subtask.length > 0"
                                                    src="../../../../assets/Content/images/{{ task.visible ? 'collapse.png' : 'expand.png' }}">
                                                </mat-icon>
                                                {{ task.TASK_NO.TASK_NO }}
                                              </span>
                                              <div class="task-detail">{{ task.TASK_NO?.maiN_ABBR }}</div>

                                              <div class="task-detail">{{ task.TASK_NO?.abbR_SHORT_DESC }}</div>
                                            </div>
                                          </ng-container>
                                        </li>

                                        <ng-container *ngIf="task.visible && task.subtask && task.subtask.length > 0">
                                          <ng-container
                                            *ngTemplateOutlet="recursiveTaskTemplate; context: { $implicit: task.subtask }"></ng-container>
                                        </ng-container>
                                      </ng-container>
                                    </ul>
                                  </ng-container>

                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="page-layout carded full-width">
                    <div class="">

                      <div class="">
                        <div *ngIf="loading" class="text-center">
                          <div class="spinner-border text-primary" role="status">
                            <span class="sr-only">Loading...</span>
                          </div>
                        </div>

                        <div *ngIf="!loading" class="progress-details">
                          <div class="table-scroll-container mx-4">

                            <table class="table table-active mr-1">
                              <thead class="table-header">
                                <tr>
                                  <!-- <th><i class="fas fa-edit"></i></th> -->
                                  <th>Serial No.</th>
                                  <th>Sequence No.</th>
                                  <th>Abbreviation</th>
                                  <th class="truncate-date">Approved Description</th>
                                  <th>Days Required</th>
                                  <th>Department</th>
                                  <th>Job Role</th>
                                  <th>Responsible Person</th>
                                  <th>Output Document</th>
                                  <th>Tentative Start Date</th>
                                  <th>Tentative End Date</th>
                                  <th
                                    style="max-width:100rem; position: sticky; right: 0; background: white; z-index: 1;">
                                    Status</th>
                                  <th
                                    style="max-width:10rem; position: sticky; right: 0; background: white; z-index: 1;">
                                    Delete</th>
                                </tr>
                              </thead>

                              <tbody>
                                <ng-template #recursiveTaskTemplate let-tasks let-serialCounter="serialCounter">
                                  <ng-container *ngFor="let task of tasks; let i = index">
                                    <tr>
                                      <!-- <td>
                                          <div class="d-flex justify-content-end  mr-3">
                                            <i class="fa fa-pencil" style="font-size:15px" type="button"
                                              (click)="toggleFormVisibility_main(task.TASK_NO.TASK_NO)"></i>
                                          </div>
                                        </td> -->
                                      <td></td>
                                      <td style="min-width: 300px;">
                                        <ng-container *ngIf="task.TASK_NO.TASK_NO">
                                          <span
                                            [style.marginLeft.px]="calculateIndentation(task.TASK_NO.TASK_NO, task.subtask && task.subtask.length > 0 ? 15 : 30, task.TASK_NO.start_date, task.TASK_NO.end_date)">
                                            <mat-icon (click)="toggleVisibility(task)" style="cursor: pointer;"
                                              *ngIf="task.subtask && task.subtask.length > 0">
                                              <img *ngIf="task.subtask && task.subtask.length > 0"
                                                src="../../../../assets/Content/images/{{ task.visible ? 'collapse.png' : 'expand.png' }}">
                                            </mat-icon>
                                            {{ task.TASK_NO.TASK_NO }}
                                          </span>
                                        </ng-container>
                                      </td>
                                      <td class="truncate-text" matTooltip="{{ task.TASK_NO?.maiN_ABBR }}">{{
                                        task.TASK_NO?.maiN_ABBR }}</td>
                                      <td class="truncate-text" matTooltip="{{ task.TASK_NO?.abbR_SHORT_DESC }}">{{
                                        task.TASK_NO?.abbR_SHORT_DESC }}</td>
                                      <td class="truncate-text" matTooltip="{{ task.TASK_NO?.dayS_REQUIERD }}">{{
                                        task.TASK_NO?.dayS_REQUIERD }}</td>
                                      <td class="truncate-text" matTooltip="{{ task.TASK_NO?.department }}">{{
                                        task.TASK_NO?.department }}</td>
                                      <td class="truncate-text" matTooltip="{{ task.TASK_NO?.joB_ROLE }}">{{
                                        task.TASK_NO?.joB_ROLE }}</td>
                                      <td class="truncate-text" matTooltip="{{ task.TASK_NO?.resposiblE_EMP }}">{{
                                        task.TASK_NO?.resposiblE_EMP }}</td>
                                      <td class="truncate-text" matTooltip="{{ task.TASK_NO?.enD_RESULT_DOC }}">{{
                                        task.TASK_NO?.enD_RESULT_DOC }}</td>
                                      <td>
                                        <ng-container *ngIf="taskData?.mkey">
                                          <input type="date" [ngClass]="{'disabled': isTaskDisabled(task)}"
                                            [min]="currentDate" class="form-control"
                                            (ngModelChange)="task.TASK_NO.start_date = $event"
                                            [ngModel]="task.TASK_NO.start_date | date: 'yyyy-MM-dd'"
                                            [ngModelOptions]="{standalone: true}" name="staDate_new_{{task.TASK_NO}}"
                                            [disabled]="disableInitiatedTask(task)" />
                                        </ng-container>

                                        <ng-container *ngIf="!taskData?.mkey">
                                          <input [ngClass]="{'disabled': isTaskDisabled(task)}" type="date"
                                            [min]="currentDate" class="form-control"
                                            [(ngModel)]="task.TASK_NO.start_date" [ngModelOptions]="{standalone: true}"
                                            name="staDate_new_{{task.TASK_NO}}" />
                                        </ng-container>
                                      </td>
                                      <td>
                                        <ng-container *ngIf="taskData?.mkey">
                                          <input type="date" [ngClass]="{'disabled': isTaskDisabled(task)}"
                                            [min]="currentDate" class="form-control"
                                            (ngModelChange)="task.TASK_NO.end_date = $event"
                                            [ngModel]="task.TASK_NO.end_date | date: 'yyyy-MM-dd'"
                                            [ngModelOptions]="{standalone: true}" name="endDate_new"
                                            [disabled]="disableInitiatedTask(task)" />
                                        </ng-container>
                                        <ng-container *ngIf="!taskData?.mkey">
                                          <input type="date" [ngClass]="{'disabled': isTaskDisabled(task)}"
                                            [min]="currentDate" class="form-control" [(ngModel)]="task.TASK_NO.end_date"
                                            [ngModelOptions]="{standalone: true}" name="endDate_new" />
                                        </ng-container>

                                      </td>
                                      <td class="truncate-text"
                                        style="max-width:100rem; position: sticky; right: 0; background: white; z-index: 1;">
                                        <div
                                          *ngIf="task.TASK_NO?.status !== 'Ready to Initiate' && task.TASK_NO?.status !== 'Initiated'">
                                          Created
                                        </div>
                                        <div *ngIf="taskData?.mkey">
                                          {{task.TASK_NO?.status}}
                                          <!-- <span 
                                                *ngIf="task.TASK_NO?.status === 'Ready to Initiate'" 
                                                type="button" 
                                                class="badge badge-pill badge-info ml-1" 
                                                (click)="initiateToApprovalInitiation(task.TASK_NO.approvaL_MKEY)">
                                                Initiation
                                            </span> -->
                                        </div>
                                      </td>
                                      <td
                                        style="max-width:100rem; position: sticky; right: 0; background: white; z-index: 1;">
                                        <div *ngIf="task.TASK_NO?.status === 'Ready to Initiate'">
                                          <i class="fa fa-trash ml-6" type="button"
                                            style="font-size: small; color: rgb(0, 110, 255)"></i>
                                          <!-- <button type="button" class="badge badge-pill badge ml-1">Delete</button> -->
                                        </div>
                                      </td>
                                    </tr>

                                    <ng-container *ngIf="task.visible && task.subtask && task.subtask.length > 0">
                                      <ng-container
                                        *ngTemplateOutlet="recursiveTaskTemplate; context: { $implicit: task.subtask }"></ng-container>
                                    </ng-container>
                                  </ng-container>
                                </ng-template>

                                <ng-container *ngFor="let task of selectedSeqArr; let i = index">
                                  <tr>
                                    <!-- <td>
                                        <div class="d-flex justify-content-end  mr-3">
                                          <i class="fa fa-pencil" style="font-size:15px" type="button"
                                            (click)="toggleFormVisibility_main(task.TASK_NO.TASK_NO)"></i>
                                        </div>
                                      </td> -->
                                    <td>{{i + 1}}</td>
                                    <td style="min-width: 300px;">
                                      <ng-container *ngIf="task.TASK_NO.TASK_NO">
                                        <span
                                          [style.marginLeft.px]="calculateIndentation(task.TASK_NO.TASK_NO, task.subtask && task.subtask.length > 0 ? 15 : 30, task.TASK_NO.start_date, task.TASK_NO.end_date)">
                                          <mat-icon (click)="toggleVisibility(task)" style="cursor: pointer;"
                                            *ngIf="task.subtask && task.subtask.length > 0">
                                            <img *ngIf="task.subtask && task.subtask.length > 0"
                                              src="../../../../assets/Content/images/{{ task.visible ? 'collapse.png' : 'expand.png' }}">
                                          </mat-icon>
                                          {{ task.TASK_NO.TASK_NO }}
                                        </span>
                                      </ng-container>
                                    </td>
                                    <td class="truncate-text" matTooltip="{{ task.TASK_NO?.maiN_ABBR }}">{{
                                      task.TASK_NO?.maiN_ABBR }}</td>
                                    <td class="truncate-text" matTooltip="{{ task.TASK_NO?.abbR_SHORT_DESC }}">{{
                                      task.TASK_NO?.abbR_SHORT_DESC }}</td>
                                    <td class="truncate-text" matTooltip="{{ task.TASK_NO?.dayS_REQUIERD }}">{{
                                      task.TASK_NO?.dayS_REQUIERD }}</td>
                                    <td class="truncate-text" matTooltip="{{ task.TASK_NO?.department }}">{{
                                      task.TASK_NO?.department }}</td>
                                    <td class="truncate-text" matTooltip="{{ task.TASK_NO?.joB_ROLE }}">{{
                                      task.TASK_NO?.joB_ROLE }}</td>
                                    <td class="truncate-text" matTooltip="{{ task.TASK_NO?.resposiblE_EMP }}">{{
                                      task.TASK_NO?.resposiblE_EMP }}</td>
                                    <td class="truncate-text" matTooltip="{{ task.TASK_NO?.enD_RESULT_DOC }}">{{
                                      task.TASK_NO?.enD_RESULT_DOC }}</td>
                                    <td>
                                      <ng-container *ngIf="taskData?.mkey">
                                        <input type="date" [min]="currentDate" class="form-control"
                                          (ngModelChange)="task.TASK_NO.start_date = $event"
                                          [ngModel]="task.TASK_NO.start_date | date: 'yyyy-MM-dd'"
                                          [ngModelOptions]="{standalone: true}" name="staDate_new_{{task.TASK_NO}}" />
                                      </ng-container>

                                      <ng-container *ngIf="!taskData?.mkey">
                                        <input type="date" [min]="currentDate" class="form-control"
                                          [(ngModel)]="task.TASK_NO.start_date" [ngModelOptions]="{standalone: true}"
                                          name="staDate_new_{{task.TASK_NO}}" />
                                      </ng-container>
                                    </td>
                                    <td>
                                      <ng-container *ngIf="taskData?.mkey">
                                        <input type="date" [min]="currentDate" class="form-control"
                                          (ngModelChange)="task.TASK_NO.end_date = $event"
                                          [ngModel]="task.TASK_NO.end_date | date: 'yyyy-MM-dd'"
                                          [ngModelOptions]="{standalone: true}" name="endDate_new" />
                                      </ng-container>
                                      <ng-container *ngIf="!taskData?.mkey">
                                        <input type="date" [min]="currentDate" class="form-control"
                                          [(ngModel)]="task.TASK_NO.end_date" [ngModelOptions]="{standalone: true}"
                                          name="endDate_new" />
                                      </ng-container>

                                    </td>
                                    <td class="truncate-text"
                                      style="max-width:100rem; position: sticky; right: 0; background: white; z-index: 1;">
                                      <div
                                        *ngIf="task.TASK_NO?.status !== 'Ready to Initiate' && task.TASK_NO?.status !== 'Initiated'">
                                        Created
                                      </div>
                                      <div *ngIf="taskData?.mkey">
                                        {{task.TASK_NO?.status}}
                                        <span *ngIf="task.TASK_NO?.status === 'Ready to Initiate'" type="button"
                                          class="badge badge-pill badge-info ml-1"
                                          (click)="initiateToApprovalInitiation(task.TASK_NO.approvaL_MKEY)">
                                          Initiation
                                        </span>
                                      </div>
                                    </td>
                                    <td
                                      style="max-width:100rem; position: sticky; right: 0; background: white; z-index: 1;">
                                      <div *ngIf="task.TASK_NO?.status === 'Ready to Initiate'">
                                        <i class="fa fa-trash ml-6" type="button"
                                          style="font-size: small; color: rgb(0, 110, 255)"></i>
                                        <!-- <button type="button" class="badge badge-pill badge ml-1">Delete</button> -->
                                      </div>
                                    </td>

                                  </tr>

                                  <ng-container *ngIf="task.visible && task.subtask && task.subtask.length > 0">
                                    <ng-container
                                      *ngTemplateOutlet="recursiveTaskTemplate; context: { $implicit: task.subtask }"></ng-container>
                                  </ng-container>
                                </ng-container>
                              </tbody>

                            </table>
                            <div *ngIf="selectedSeqArr.length === 0 || ''"
                              class="no-data py-3 d-flex justify-content-center align-items-center">
                              No row to show
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</body>