<body class="layout layout-vertical layout-left-navigation layout-below-toolbar layout-below-footer"> 
      
    <main>
        <div id="wrapper"> 
                     
            <div class="content-wrapper">

                <app-header-bar ></app-header-bar>
                

                <div class="content">
                     <!--(click)="addRecursiveTaskDetails()"-->

            
                    <div class="pl-9 py-3">

                        <button type="button" class="btn btn-secondary mr-24" (click)="addCompliance('add_new_compliance')" style="width: 30rem; right: 0;">ADD COMPLIANCE</button>

                        <!-- <form (submit)="onLogin()">



                          <label class="mr-6">
                            Username:
                            <input type="text" [(ngModel)]="loginName" name="loginName" required>
                          </label>
                          
                          <label>
                            Password:
                            <input type="password" [(ngModel)]="loginPassword" name="loginPassword" required>
                          </label>
                        
                          <button type="submit" class="btn btn-info mx-6">Login</button>
                          <button type="button" class="btn btn-warning my-6" (click)="onLogOut()">Logout</button>

                        </form> -->
                    </div>



                    <div id="project-dashboard" class="page-layout simple">


                        <div class="page-content-wrapper" style="height: 100%;">

                            <div id="todo" class="page-layout carded left-sidebar">
                                <div class="top-bg bg-primary"></div>
                       
                                <div class="page-content-wrapper">
                                    <div class="py-3 d-flex flex-column justify-content-center light-fg mb-0">
                                        <div class="search-bar row align-items-center no-gutters bg-white text-auto" >
                                        
                                            <i class="icon-magnify fa-lg mx-2 py-3"></i>
                                            <input class="search-bar-input col" type="text" placeholder="Search for a task" [(ngModel)]="_SearchText">
                                        </div>
                                    </div>
                                    
                                    <div class="page-content-card" style="height:100%;" >
                                 
                                        <div class="toolbar d-flex align-items-center justify-content-between p-3 p-sm-6" >
                                              <select class="custom-select department mb-2 mr-sm-2 mb-sm-0" placeholder="Due Date" >
                                                <option>option</option>
                                              </select>                                                                              
                                            <div>
                                                <select class="custom-select mb-2 mr-sm-2 mb-sm-0" placeholder="Order" (change)="onFilterTypeChange($event)" ng-model="selected">
                                                    <option [value]="'creationDate'" [selected]="filterType === 'creationDate'">Creation Date</option>
                                                    <option [value]="'completionDate'" [selected]="filterType === 'completionDate'">Completion Date</option>
                                                </select>
                                                <button type="button" (click)="toggleSortOrder()" style="background-color: white;">
                                                    <i class="fas fa-sort-amount-up-alt" [hidden]="!isAscending" [class.active]="isAscending"></i>
                                                    <i class="fas fa-sort-amount-down-alt" [hidden]="isAscending" [class.active]="!isAscending"></i>
                                                </button>
                                            </div>
                                        </div>
                                         <div class="card">
                                            <div class="side-bar-scroll">
                                                <div class="page-content-card">
                                                    <div class="todo-items w-10" >
                                                        
                                                        <div id="dvMain_$index" 
                                                            *ngFor="let t of taskList | taskFilter:_SearchText; let i = index"
                                                            class="todo-item  py-4 ripple row no-gutters flex-wrap flex-sm-nowrap align-items-center" 
                                                              >  
                                                            <!-- <button type="button" class="handle btn btn-icon mr-1">
                                                                <img id="ImgStatusOfTask" *ngIf="t.CATEGORY!='PUBLIC'" src="../../../assets/Content/icons/PublicTask.png" class="avatar" />
                                                                <img id="ImgStatusOfTask" *ngIf="t.CATEGORY=='PUBLIC'" src="../../../assets/Content/icons/PrivateTask.png" class="avatar" />
                                                            </button> -->
                                                            
                                                            <div class="info col px-4" type="button" (click)="openSelectedTask(t)"  >
                                                                <div class="title" style="font-family: 'Muli', 'Helvetica Neue', 'Arial', sans-serif;font-weight:bold;float:left;width:100%">
                                                                    <span style="color:#328da8;">{{i+1}}</span>
                                                                    {{t.SHORT_DESCRIPTION}} <span style="float:right;color:#328da8;margin-left:154px;"></span>
                                                                    <!-- <span class="title" style="float:right">[Req By : {{t.START_DATE}}]</span> -->
                                                                </div>                                       
                                                                
                                                                <!-- <div style="float: right;" >
                                                                    <div class="tooltip_Mouse">
                                                                        <br />
                                                                        <img  style="float:right;width:4rem;height:4rem;display:block;"  />
                                                                    </div>
                                                                </div> -->
                                                                                                                                                                                                                                                                            
                                                                <br />
                                                                <div class="notes mt-1" >                                                
                                                                    {{t.LONG_DESCRIPTION}}
                                                                </div>
                                                                
                                                                <div class="tags">
                                                                    <div class="tag badge mt-2 mr-1">
                                                                        <div class="row no-gutters align-items-center">
                                                                            <i class="fas fa-user small-icon pt-2 mb-1"></i>                                                 
                                                                            <div class="tag-label">Created By: {{t.assign_To_Name}}</div>
                                                                        </div>
                                                                    </div>
                                                                    
                                                                    
                                                                    <div class="tag badge mt-2 mr-1" style="margin-left:22px" >
                                                                        <div class="row no-gutters align-items-center">
                                                                            <div class="tag-color mr-2" style="background-color: #388E3C;"></div>
                                                                            <div class="tag-label">{{t.STATUS}}</div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div >
                                                            <table class="table table-striped">
                                                                <tbody>
                                                                    <tr *ngIf="taskList.length === 0 || ''" class="no-data" style="display: table-row;">
                                                                        <td colspan="4" style="text-align:center;font-weight:900">No data</td>
                                                                    </tr>                                                
                                                                </tbody>
                                                            </table>
                                                        </div>                                    
                                                    </div>
                                                </div>
                                            </div> 
                                         </div>                                                                              
                                    </div>
                                </div>                                    
                            </div>
                        </div>
                    </div>
                    <!-- <script type="text/javascript" src="../assets/js/apps/dashboard/project.js"></script> -->
                </div>            
            </div>           
        </div>
    </main>
</body>





