/* @import url('../../../../assets/Content/css/main.css'); */

.progress-container {
  width: 100%;
  height: 20px;
  background-color: #ccc;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

.progress-bar {
  height: 100%;
  background-color: #80ff80;
  text-align: center;
  color: black;
}

.progress-bar span {
  line-height: 20px;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  font-weight: bold;
}


.task-table {
  width: 100%;
  border-collapse: collapse;
}

.task-table th,
.task-table td {
  padding: 8px;
  text-align: left;
}

.task-table th {
  background-color: #f2f2f2;
  text-align: center;
}

table.task-table {
  width: 100%;
}

table.task-table th,
table.task-table td {
  border-right: 1px solid #ddd;
}

.task-table {
  border-collapse: collapse;
  border-spacing: 0;
}


.truncate-text {
  min-width: 100px;
  max-width: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.truncate-date {
  min-width: 5px;
  max-width: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}



.table-scroll-container {
  max-height: 500px;
  overflow-y: auto;
}


.table-scroll-container::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.table-scroll-container::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

.table-scroll-container::-webkit-scrollbar-thumb:hover {
  background: #555;
}


@media (max-width: 768px) {
  .table-scroll-container {
    max-height: 500px;
    overflow-y: auto;
    max-width: 300px;
  }
}


