/* Base tab styles */
.nav-tabs {
  border-bottom: 2px solid #ddd;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

/* Active tab styling */
.nav-tabs .btn.active {
  background-color: rgba(255, 255, 255, 0.51) !important; /* Semi-transparent white */
  border: 1px solid rgba(0, 0, 0, 0.15) !important; /* Soft border */
  color: rgba(67, 67, 67, 0.885) !important; /* Ensure contrast */
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1) !important; /* Soft shadow */
  outline: none !important; /* Prevent focus outline */
}


/* Inactive tabs */
.nav-tabs .btn {
  background-color: rgba(232, 232, 232, 0.522);
  border-color: transparent;
  color: #1b1b1b;
  box-shadow: none !important; /* Ensure no shadow on inactive buttons */
}

.nav-tabs .btn:hover {
  background-color: rgb(233, 233, 233);
}

/* Hide tabs on mobile */
@media (max-width: 768px) {
  .nav-tabs {
    display: none; /* Hide tabs */
  }
  
  .mobile-tab-menu {
    display: block !important;
    margin-bottom: 10px;
    width: 34rem;
    padding-left: 0.8rem;
  }
}

@media (min-width: 769px) {
  .mobile-tab-menu {
    display: none;
  }
}
