<div class="page-content">
    <ul class="nav nav-tabs" id="myTab" role="tablist" style="margin-bottom: 0.8rem;">
        <li class="nav-item" *ngFor="let tab of tabs" [ngClass]="{ active: selectedTab === tab.key }"
            [id]="'l' + tab.key">
            <a class="btn" (click)="switchTab(tab.key)" [id]="tab.key + '-tab'" role="tab"
                [attr.aria-controls]="tab.key + '-tab-pane'" [attr.aria-expanded]="selectedTab === tab.key">
                {{ tab.label }}
            </a>
        </li>
    </ul>

    <!-- Tab Content -->
    <div class="tab-content">
        <ng-container *ngFor="let tab of tabs">
            <div [id]="tab.key + '-tab-pane'" role="tabpanel" *ngIf="selectedTab === tab.key">
                <ng-container *ngIf="tab.component">
                    <ng-container *ngComponentOutlet="tab.component"></ng-container>
                </ng-container>
            </div>
        </ng-container>
    </div>
</div>