/* Base tab styles */
.nav-tabs {
  border-bottom: 2px solid #ddd;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

/* Active tab styling */
.nav-tabs .nav-item .btn.active {
  background-color: white;
  border-color: #ddd #ddd white;
  color: #838383;
}

/* Inactive tabs */
.nav-tabs .btn {
  background-color: rgba(232, 232, 232, 0.522);
  border-color: transparent;
  color: #1b1b1b;
}

.nav-tabs .btn:hover {
  background-color: rgb(233, 233, 233);
}

/* Hide tabs on mobile */
@media (max-width: 768px) {
  .nav-tabs {
    display: none; /* Hide tabs */
  }
  
  .mobile-tab-menu {
    display: block !important;
    margin-bottom: 10px;
    width: 34rem;
    padding-left: 0.8rem;
  }
}

@media (min-width: 769px) {
  .mobile-tab-menu {
    display: none;
  }
}
