<body class="layout  layout-left-navigation layout-below-toolbar layout-below-footer" class="side-bar-scroll">
  <main>
    <div id="wrapper">


      <div class="content-wrapper">

        <div class="">


          <div id="e-commerce-product" class="simple tabbed">

            <app-header-bar (loggedInUserEmitter)="receiveLoggedInUser($event)"></app-header-bar>

            <div class="tab-pane fade show" id="basic-info-tab-pane" role="tabpanel" aria-labelledby="basic-info-tab">

              <div class="bg-primary py-6 text-auto row align-items-center justify-content-between p-0">

                <div class="row no-gutters align-items-center">
                  <div class="product-image mr-4 ml-8">
                    <img src="../../../../assets/Content/images/ecommerce/product-image-placeholder.png">
                  </div>
                  <div>
                    <b>Compliance Detail</b>
                  </div>
                </div>

                <div class="flex-grow-1"></div>

                <div class="mr-8">
                  <ng-container *ngIf="!initiate">
                    <button type="button" class="btn btn-light" (click)="onSubmit()" id="btnSaveTask">
                      {{ taskData?.MKEY ? 'Update' : 'Save' }}
                    </button>
                  </ng-container>

                  <ng-container *ngIf="initiate">
                    <button type="button" class="btn btn-light" (click)="onSubmit()" id="btnSaveTask">
                        Initiate
                    </button>
                  </ng-container>
            
                </div>
              </div>

              <br>

              <div class="container-fluid">
                <div class="card p-5 tab-content">
                  <form [formGroup]="complianceForm" (ngSubmit)="createData()">

                    <div class="row">
                      <div class="col-xs-12 col-xl-6 col-md-4">
                        <div class="form-group">
                          <label for="project">Property</label>

                          <ng-container *ngIf="taskData?.MKEY">
                            <select 
                            class="h6 custom-select cate" 
                            [ngStyle]="isFieldDisabled && initiate !== null ? { 'background-color': 'rgb(238 236 195)', 'color': '#11111', 'cursor': 'allowed' } : {}" 
                            formControlName="property" 
                            #projectSelect
                            (change)="onProjectSelect(projectSelect)">
                            <option value="" selected>Select</option>
                            <option *ngFor="let p of project" [ngValue]="p">{{ p.TYPE_DESC }}</option>
                          </select>
                          
                          </ng-container>

                          <ng-container *ngIf="!taskData?.MKEY">
                            <select class="h6 custom-select cate" formControlName="property" #projectSelect
                              (change)="onProjectSelect(projectSelect)">
                              <option value="" selected>Select</option>
                              <option *ngFor="let p of project" [ngValue]="p">{{ p.TYPE_DESC }}</option>
                            </select>
                          </ng-container>

                        </div>
                      </div>


                      <div class="col-xs-12 col-xl-6 col-md-4">

                        <ng-container *ngIf="taskData?.MKEY">
                        <div class="form-group">
                          <label for="subProject">Building</label>
                          <select class="h6 custom-select cate" 
                            formControlName="building"  (change)="raisedAtListCheck()" 
                            [ngStyle]="isFieldDisabled && initiate !== null ? { 'background-color': 'rgb(238 236 195)', 'color': '#11111', 'cursor': 'allowed' } : {}">
                            <option value="" selected>Select</option>
                            <option *ngFor="let s of sub_proj" [ngValue]="s">{{ s.TYPE_DESC }}</option>
                            <option *ngFor="let s of sub_proj" [ngValue]="s.TYPE_DESC">{{ s.TYPE_DESC }}</option>

                          </select>
                        </div>
                        </ng-container>

                        <ng-container *ngIf="!taskData?.MKEY">
                          <div class="form-group">
                            <label for="subProject">Building</label>
                            <select class="h6 custom-select cate" 
                            formControlName="building" (change)="raisedAtListCheck()" >
                              <option value="" selected>Select</option>
                              <option *ngFor="let s of sub_proj" [ngValue]="s">{{ s.TYPE_DESC }}</option>
                            </select>
                          </div>
                          </ng-container>
                      </div>
                    </div>

                    <br>
                   


                    <div class="row description">

                      <div class="col-xs-12 col-xl-4 col-md-8">
                        <div class="form-group">
                          <label for="taskName">Short Description</label>

                          <ng-container *ngIf="taskData?.MKEY">
                            <input type="text" maxlength="150" [ngStyle]="isFieldDisabled && initiate !== null ? { 'background-color': 'rgb(238 236 195)', 'color': '#11111', 'cursor': 'allowed' } : {}"
                             [(ngModel)]="taskData.SHORT_DESCRIPTION"
                              class="form-control" maxlength="150" formControlName="shortDescription">
                          </ng-container>

                          <ng-container *ngIf="!taskData?.MKEY">
                            <input type="text" maxlength="150" class="form-control" maxlength="150"
                              formControlName="shortDescription">
                          </ng-container>

                          <div *ngIf="taskNameMaxLength()">Max 150 Characters</div>
                        </div>
                      </div>

                      <div class="col-xs-12 col-xl-8 col-md-8">
                        <div class="form-group">
                          <label for="longDescription">Long Description</label>

                          <ng-container *ngIf="taskData?.MKEY">
                            <textarea class="form-control" 
                            [ngStyle]="isFieldDisabled && initiate !== null ? { 'background-color': 'rgb(238 236 195)', 'color': '#11111', 'cursor': 'allowed' } : {}"
                            [(ngModel)]="taskData.LONG_DESCRIPTION"
                              aria-describedby="task description" rows="3" maxlength="1000"
                              formControlName="longDescription"></textarea>
                          </ng-container>

                          <ng-container *ngIf="!taskData?.MKEY">
                            <textarea class="form-control" aria-describedby="task description" rows="3" maxlength="1000"
                              formControlName="longDescription"></textarea>
                          </ng-container>

                          <div *ngIf="descriptionMaxLength()">Max 1000 Characters</div>
                        </div>
                      </div>
                    </div>            


                    <div class="row">

                    

                      <div class="col-xs-12 col-xl-4 col-md-4">
                        <div class="form-group">
                          <label for="subProject">Responsible Department</label>

                          <ng-container *ngIf="taskData?.MKEY">
                            <select 
                              class="h6 custom-select cate" 
                              [ngStyle]="isFieldDisabled && initiate !== null ? { 'background-color': 'rgb(238 236 195)', 'color': '#11111', 'cursor': 'allowed' } : {}"
                              formControlName="responsibleDepartment">
                              <option value="">--SELECT--</option>
                              <option *ngFor="let dept of departmentList" [ngValue]="dept.mkey">
                                {{ dept.typE_DESC }}
                              </option>
                            </select>
                          </ng-container>
                          

                          <ng-container *ngIf="!taskData?.MKEY">
                            <select class="h6 custom-select cate" formControlName="responsibleDepartment">
                              <option value="" selected>Select</option>
                              <option *ngFor="let dept of departmentList" [ngValue]="dept.mkey">{{ dept.typE_DESC }}
                              </option>
                            </select>
                          </ng-container>
                    
                        </div>
                      </div>

                      <div class="col-xs-12 col-xl-4 col-md-4">
                        <div class="form-group">
                          <label for="project">Job Role</label>
                          <select class="h6 custom-select cate"
                          [ngStyle]="isFieldDisabled && initiate !== null ? { 'background-color': 'rgb(238 236 195)', 'color': '#11111', 'cursor': 'allowed' } : {}"
                          formControlName="jobRole">
                            <option value="" selected>Select</option>
                            <option *ngFor="let jobRole of jobRoleList" [ngValue]="jobRole.mkey">{{ jobRole.typE_DESC }}
                            </option>
                          </select>
                        </div>
                      </div>

                      <div class="col-xs-12 col-xl-4 col-md-4">
                        <div class="form-group">
                          <label for="assignedTo">Responsible Person </label>

                          <ng-container *ngIf="taskData?.MKEY">
                            <input type="text" class="form-control" [(ngModel)]="taskData.emp_name"
                            [ngStyle]="isFieldDisabled && initiate !== null ? { 'background-color': 'rgb(238 236 195)', 'color': '#11111', 'cursor': 'allowed' } : {}"
                              formControlName="responsiblePerson" (input)="filterEmployees($event)" appAlphabeticOnly />
                          </ng-container>

                          <ng-container *ngIf="!taskData?.MKEY">
                            <input type="text" class="form-control" formControlName="responsiblePerson"
                              (input)="filterEmployees($event)" appAlphabeticOnly placeholder="Search Name" />
                          </ng-container>

                          <div style="width: 100%;" class="pr-10 mt-1">
                            <ul>
                              <li *ngFor="let event of filteredEmployees; let i = index;" class="active" type="button"
                                [class.active]="filteredEmployees" (click)="selectEmployee(event);">
                                {{ event.Assign_to }}
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>                  
                    </div>




                 
                    <br>
                    <div class="row">
                      

                      <div class="col-xs-12 col-xl-3 col-md-4">
                        <div class="form-group">
                          <label for="project">Raised At</label>
                          <select class="h6 custom-select cate" 
                          [ngStyle]="isFieldDisabled && initiate !== null ? { 'background-color': 'rgb(238 236 195)', 'color': '#11111', 'cursor': 'allowed' } : {}"
                          formControlName="raisedAt">
                            <option value="" selected>Select</option>
                            <option *ngFor="let r of raisedAtList" [ngValue]="r.mkey">{{ r.TYPE_DESC }}</option>
                          </select>
                        </div>
                      </div>

                      <div class="col-xs-12 col-xl-6 col-md-8">
                        <div class="form-group">
                          <label for="tags">Tags</label>
                          <tag-input [addOnBlur]="true" [formControl]="complianceForm.get('tags')">
                            <tag-input-dropdown [autocompleteItems]="allTags" [showDropdownIfEmpty]="true"
                              [dynamicUpdate]="true"></tag-input-dropdown>
                          </tag-input>
                        </div>
                      </div>

                      <div class="col-xs-12 col-xl-3 col-md-4">
                        <div class="form-group">
                          <label for="category">Status </label>
                          <select
                            class="h6 custom-select cate"
                            formControlName="status"
                            [class.disabled]="!taskData || initiate === 'initiate_mode'"
                            [attr.disabled]="!taskData || initiate === 'initiate_mode' ? true : null"
                          >
                            <option *ngFor="let c of complianceStatus" [ngValue]="c.TYPE_DESC">
                              {{ c.TYPE_DESC }}
                            </option>
                          </select>
                        </div>
                      </div>
                      

                    
                    </div>

                 

                     <br>
                     <fieldset>
                      <legend><b>To be completed by:</b></legend>

                      <div class="row" style="background-color: rgb(220, 227, 227); height: 10rem;">
    
                          <div class="col-xs-12 col-xl-4 col-md-4">
                            <div class="form-group mt-2">
                              <label for="taskName">No of Days</label>
    
                              <ng-container *ngIf="taskData?.MKEY">
                                <input type="number" maxlength="150" [(ngModel)]="taskData.NO_DAYS"
                                  formControlName="noOfDays" class="form-control" maxlength="150">
                              </ng-container>
    
                              <ng-container *ngIf="!taskData?.MKEY">
                                <input type="number" maxlength="150" formControlName="noOfDays" class="form-control"
                                  maxlength="150">
                              </ng-container>
    
                            </div>
                          </div>
  
                          <div class="col-xs-12 col-xl-4 col-md-4">
                            <div class="form-group">
                              <label for="completionDate">Completion Date </label>
                              <input type="date" class="form-control" formControlName="toBeCompletedBy"
                                aria-describedby="depth" />
                            </div>
                          </div>
  
  
                          <div class="col-xs-12 col-xl-4 col-md-4">
                            <div class="form-group">
                              <label for="project">Raised At</label>
                              <select class="h6 custom-select cate" 
                                 [ngStyle]="{'background-color': 'rgb(220, 227, 227)'}"
                                 formControlName="raisedAt">
                                <option value="" selected>Select</option>
                                <option *ngFor="let r of raisedBefore" [ngValue]="r.mkey">{{ r.TYPE_DESC }}</option>
                              </select>
                            </div>
                          </div>
  
                        <!-- </div> -->
                      </div>
                     </fieldset>
                    

                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</body>

