<body class="layout  layout-left-navigation layout-below-toolbar layout-below-footer" class="side-bar-scroll">
  <main>
    <div id="wrapper">
      <div class="content-wrapper">
        <div class="">
          <div id="e-commerce-product" class="simple tabbed">

            <app-header-bar (loggedInUserEmitter)="receiveLoggedInUser($event)"></app-header-bar>

            <div class="tab-pane fade show" *ngIf="selectedTab === 'taskInfo'" id="basic-info-tab-pane" role="tabpanel"
              aria-labelledby="basic-info-tab">



              <div class="bg-primary py-6 text-auto row align-items-center justify-content-between p-6">

                <div class="row no-gutters align-items-center">
                  <div class="product-image mr-4 ml-8">
                    <img src="../../../../assets/Content/images/ecommerce/product-image-placeholder.png">
                  </div>
                  <div class="truncate-date">
                    <b>Recursive Task Detail</b>
                  </div>
                </div>

                <div class="flex-grow-1"></div>

                <div class="mr-8">
                  <button *ngIf="!updatedDetails" type="button" class="btn btn-light mr-2" (click)="onSubmitAdd()"
                    id="btnSaveTask">
                    ADD
                  </button>

                  <button *ngIf="updatedDetails" type="button" class="btn btn-light" (click)="onSubmitUpdate()"
                    id="btnSaveTask">
                    SAVE
                  </button>
                </div>

              </div>

              <br>
              <div class="container-fluid">
                <div class="card p-6 tab-content">
                  <form [formGroup]="recursiveTaskForm" (ngSubmit)="onSubmit()">
                    <div class="row">

                      <div class="col-xs-12 col-xl-6 col-md-12">
                        <div class="form-group">
                          <label for="taskName">Task Name</label>
                          <input type="text" maxlength="150" class="form-control" maxlength="150"
                            formControlName="taskName" />
                          <div *ngIf="taskNameMaxLength()">Max 150 Characters</div>
                        </div>
                      </div>

                      <div class="col-xs-12 col-xl-6 col-md-12">
                        <div class="form-group">
                          <label for="taskDescription">Task Description</label>
                          <textarea class="form-control" style="height: 8rem;" aria-describedby="task description"
                            rows="3" maxlength="1000" formControlName="taskDescription"></textarea>
                          <div *ngIf="descriptionMaxLength()">Max 1000 Characters</div>
                        </div>
                      </div>
                    </div>

                    <div class="">
                      <div class="">

                        <div class="row">
                          <div class="col-xs-12 col-xl-1 col-md-12" *ngIf="regularDayUpdate">
                            <div class="form-group" [hidden]="">
                              <label for="taskName">Repeat</label>

                              <ng-container *ngIf="taskData?.mkey">
                                <input type="number" [(ngModel)]="taskData.attributE13" name="taskData?.attributE13" appNumericOnly min="1" class="form-control"
                                formControlName="repeatTerm" />
                              </ng-container>
                              
                              <ng-container *ngIf="!taskData?.mkey">
                                <input type="number"  name="taskData?.attributE13" appNumericOnly min="1" class="form-control"
                                formControlName="repeatTerm" />
                              </ng-container>
                             
                            </div>
                          </div>

                          <div class="col-xs-12 col-xl-4 col-md-12">
                            <div class="form-group">
                              <label for="taskName">Term</label>
                              <select class="form-control mt-2" (change)="onTermSelect(term)" #term
                                formControlName="termType">
                                <option *ngFor="let repeat of repeat_type" [value]="repeat.type"><b>{{repeat.type}}</b>
                                </option>
                              </select>
                            </div>
                          </div>

                          <div class="col-xs-12 col-xl-3 col-md-12 display-start-end_1">
                            <div class="form-group">
                              <label for="taskName">Starts</label>

                              <ng-container *ngIf="taskData?.mkey; else noKeyTemplate">
                                <input type="date" class="form-control" aria-describedby="depth" name="staDate_new"
                                  formControlName="staDate_new" />
                              </ng-container>

                              <ng-template #noKeyTemplate>
                                <input type="date" class="form-control" [ngModel]="dt | date:'yyyy-MM-dd'"
                                  [attr.min]="minDate" max="9999-12-31" appYearFormat aria-describedby="depth"
                                  formControlName="startDate" />
                              </ng-template>
                            </div>
                          </div>

                          <div class="col-xs-12 col-xl-4 col-md-12 display-start-end_1">
                            <div class="form-group">
                              <label for="taskName">Ends</label>
                              <mat-radio-group aria-label="Select an option" formControlName="term"
                                (change)="onRadioChange($event)">
                                <div class="row">
                                  <div class="col-2">
                                    <mat-radio-button color="primary" value="never">Never</mat-radio-button>
                                  </div>
                                </div>
                                <div class="row align-items-center">
                                  <div class="col-2 mt-7">
                                    <mat-radio-button color="primary" value="on">On</mat-radio-button>
                                  </div>
                                  <div class="col-10 mt-7">

                                    <ng-container *ngIf="taskData?.mkey">
                                      <input type="date" *ngIf="recursiveTaskForm.get('term').value !== 'never'"
                                        formControlName="endDate_new" name="endDate_new" appYearFormat
                                        class="form-control ml-2" aria-describedby="depth" />
                                    </ng-container>

                                    <ng-container *ngIf="!taskData?.mkey">
                                      <input type="date" *ngIf="recursiveTaskForm.get('term').value !== 'never'"
                                        formControlName="endDate" appYearFormat max="9999-12-31"
                                        [ngModel]="dt | date:'yyyy-MM-dd'" [min]="minDate" class="form-control ml-2"
                                        aria-describedby="depth" />
                                    </ng-container>

                                  </div>
                                </div>
                              </mat-radio-group>
                            </div>
                          </div>
                        </div>

                        <div class="row" *ngIf="selectWeek">
                          <div class="form-group">
                            <label class="pl-6">Set Week Days</label>
                            <div class="checkbox-container pl-5">
                              <div *ngFor="let day of weekDays" class="checkbox-item">
                                <label class="checkbox customcb" type="button">
                                  <input type="checkbox" id="{{day}}" [value]="day" class="checkbox__input"
                                    [checked]="selectedDays.has(day)" (change)="onDayChange($event)" />
                                  <span class="checkbox__inner">
                                    <i class="d-flex justify-content-center pt-2 mx-2 week">{{day.charAt(0)}}</i>
                                  </span>
                                </label>
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="container">
                          <div class="row" *ngIf="selectMonth">
                            <div class="col-xs-12 col-md-6">
                              <div class="form-group">
                                <label for="taskName">Select Month Day</label>
                                <select class="h6 custom-select form-control" (change)="onDayChange($event)"
                                  name="selectedMonth_day" [(ngModel)]="selectedMonth_day"
                                  [ngModelOptions]="{standalone: true}">
                                  <option *ngFor="let day of month_days" [value]="day.type">
                                    {{ day.type === 'Day 31' ? 'Last Day' : day.type }}
                                  </option>
                                </select>
                              </div>
                            </div>

                            <div class="col-xs-12 col-md-6 ">
                              <div class="form-group" style="width: 100%;">
                                <label for="taskName">Select Month Day</label>
                                <app-multi-select-dropdown [list]="list" [taskData]="taskData" (shareCheckedList)="shareCheckedList($event)">  <!--(shareIndividualCheckedList)="shareIndividualCheckedList($event)"-->
                                </app-multi-select-dropdown>
                              </div>
                            </div>
                          </div>
                        </div>


                        <div class="row display-start-end_2">

                          <div class="col-xs-12 col-xl-3 col-md-12">
                            <div class="form-group">
                              <label for="taskName">Starts</label>
                              <input type="date" class="form-control" [ngModel]="dt | date:'yyyy-MM-dd'"
                                [attr.min]="minDate" aria-describedby="depth" appYearFormat
                                formControlName="startDate" />
                            </div>
                          </div>

                          <div class="col-xs-12 col-xl-4 col-md-12">
                            <div class="form-group">
                              <label for="taskName">Ends</label>

                              <mat-radio-group aria-label="Select an option" formControlName="term"
                                (change)="onRadioChange($event)">
                                <div class="row">
                                  <div class="col-2">
                                    <mat-radio-button color="primary" value="never">Never</mat-radio-button>
                                  </div>
                                </div>
                                <div class="row align-items-center">
                                  <div class="col-2 mt-7">
                                    <mat-radio-button color="primary" value="on">On</mat-radio-button>
                                  </div>
                                  <div class="col-10 mt-7">

                                    <ng-container *ngIf="taskData?.mkey">
                                      <input type="date" *ngIf="recursiveTaskForm.get('term').value !== 'never'"
                                        formControlName="endDate_new" name="endDate_new" appYearFormat
                                        class="form-control ml-2" aria-describedby="depth" />
                                    </ng-container>

                                    <ng-container *ngIf="!taskData?.mkey">
                                      <input type="date" *ngIf="recursiveTaskForm.get('term').value !== 'never'"
                                        formControlName="endDate" appYearFormat max="9999-12-31"
                                        [ngModel]="dt | date:'yyyy-MM-dd'" [min]="minDate" class="form-control ml-2"
                                        aria-describedby="depth" />
                                    </ng-container>

                                  </div>
                                </div>
                              </mat-radio-group>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</body>