/* @import url('../../../assets/Content/css/Login/main.css'); */
.col-md-8{
    display: flex;
    justify-content: center;
    align-items: center;
}


.tab-content {
    max-height: calc(100vh - 200px); 
    overflow-y: auto; 
  }
  
  .tab-content::-webkit-scrollbar {
    width: 8px; 
  }
  
  .tab-content::-webkit-scrollbar-track {
    background-color: transparent; 
  }
  
  .tab-content::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3); 
    border-radius: 4px; 
  }
  
  .tab-content::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.5);
  }


  .field-full-width{
    width: 100%;
  }

  mat-icon, mat-form-field, mat-label{
    color: black;
  }

  .password-field-container {
    display: flex;
    align-items: center;
  }
  
  .field-full-width {
    flex: 1;
  }
  
  mat-form-field {
    margin-right: 8px; /* Adjust spacing between input and button */
  }
  
  .azure{
    background-color: rgb(166, 218, 218);
  }


  .custom-validator{
    font-size:smaller; color: #f44336;
  }

  @media only screen and (max-width: 767px) {
    .tab-content {
      max-height: calc(100vh - 250px); 
      overflow-y: auto; 
    }

  }
