<form [formGroup]="changePasswordForm" (ngSubmit)="changePasswordFormData()">
  <div class="mt-4 ml-12">
    <h3>Change Password</h3>
  </div>
  <div class="card mt-3 text-secondary p-5 m-5" style="margin-top:50px;">
    <div class="row tab-content">
      <div class="col-md-8">
        <div class="container-fluid">
          <ul type="disc" class="p-5">
            <li><b>Sequential Character Not Allowed In Password [for ex:- 123,abc]</b></li>
            <li>Password should be eight characters</li>
            <li>Password should be alphanumeric with at least one Upper, Lower, and special char [for ex:- Oracle@147]
            </li>
            <li>Login name cannot be used in password</li>
          </ul>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group form_forgot text-center p-2">
          <label><b>User</b></label>
          <label style="color: black;">{{loggedInUser[0]?.EMAIL_ID_OFFICIAL}}</label>
          <p id="pLoginUser"></p>

          <div class="form-group">
            <label>Current Password</label>
            <div class="password-field-container">
              <mat-form-field class="field-full-width" appearance="fill">
                <mat-label>Enter current password</mat-label>
                <input matInput [type]="hideCurrent ? 'password' : 'text'" formControlName="currentPassword"
                  autocomplete="on" />
                <mat-error *ngIf="changePasswordForm.get('currentPassword')?.touched">
                  <ng-container *ngFor="let error of error_messages.currentPassword">
                    <div class="error-message"
                      *ngIf="changePasswordForm.get('currentPassword').hasError(error.type) && (changePasswordForm.get('currentPassword').dirty || changePasswordForm.get('currentPassword').touched)">
                      {{ error.message }}
                    </div>
                  </ng-container>
                </mat-error>
              </mat-form-field>
              <button mat-icon-button matSuffix type="button" class="mb-5 azure" (click)="toggleVisibility('current')"
                [attr.aria-label]="'hideCurrent password'" [attr.aria-pressed]="hideCurrent">
                <mat-icon>{{ hideCurrent ? 'visibility_off' : 'visibility' }}</mat-icon>
              </button>
            </div>
          </div>

          <div class="form-group">
            <label>New Password</label>
            <div class="password-field-container">
              <mat-form-field class="field-full-width" appearance="fill">
                <mat-label>Enter new password</mat-label>
                <input matInput [type]="hideNew ? 'password' : 'text'" formControlName="newPassword"
                  autocomplete="on" />
                <mat-error *ngIf="changePasswordForm.get('newPassword')?.touched">
                  <ng-container *ngFor="let error of error_messages.newPassword">
                    <div class="error-message"
                      *ngIf="changePasswordForm.get('newPassword').hasError(error.type && error.type) && (changePasswordForm.get('newPassword').dirty || changePasswordForm.get('newPassword').touched)">
                      {{ error.message }}
                    </div>
                  </ng-container>
                </mat-error>
                <ng-container>
                  <div class="custom-validator" *ngIf="changePasswordForm.get('newPassword').hasError('sequential')">
                    <small>
                      <b>{{ error_messages.newPassword[3].message }}</b>
                    </small>
                  </div>
                  <div class="custom-validator" *ngIf="changePasswordForm.get('newPassword').dirty">
                    <small>
                      <b>{{ invalid_passwordNotMatch_message }}</b>
                    </small>
                  </div>
                </ng-container>
              </mat-form-field>
              <button mat-icon-button matSuffix type="button" class="mb-5 azure" (click)="toggleVisibility('new')"
                [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideNew">
                <mat-icon>{{ hideNew ? 'visibility_off' : 'visibility' }}</mat-icon>
              </button>
            </div>
          </div>

          <div class="form-group">
            <label>Confirm Password</label>
            <div class="password-field-container">
              <mat-form-field class="field-full-width" appearance="fill">
                <mat-label>Enter confirm password</mat-label>
                <input matInput [type]="hideConfirm ? 'password' : 'text'" formControlName="confirmPassword"
                  autocomplete="on" />
                <mat-error>
                  <ng-container *ngFor="let error of error_messages.confirmPassword">
                    <div class="error-message"
                      *ngIf="changePasswordForm.get('confirmPassword').hasError(error.type) && (changePasswordForm.get('confirmPassword').dirty || changePasswordForm.get('confirmPassword').touched)">
                      {{ error.message }}
                    </div>
                  </ng-container>
                </mat-error>
                <ng-container>
                  <div class="custom-validator" *ngIf="changePasswordForm.get('confirmPassword').dirty">
                    <small>
                      <b>{{passwordNotMatch_message}}</b>
                    </small>
                  </div>
                </ng-container>
              </mat-form-field>
              <button mat-icon-button matSuffix type="button" class="mb-5 azure" (click)="toggleVisibility('confirm')"
                [attr.aria-label]="'hideConfirm password'" [attr.aria-pressed]="hideConfirm">
                <mat-icon>{{ hideConfirm ? 'visibility_off' : 'visibility' }}</mat-icon>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" (click)="backToPreviousWindow()" class="btn btn-default">Cancel</button>
      <button type="submit" [disabled]="!changePasswordForm.valid" class="btn btn-primary" autocomplete="on">Save
        changes</button>
    </div>
  </div>
</form>