<body class="layout layout-left-navigation layout-below-toolbar layout-below-footer">
    <main>
        <div id="wrapper">
            <div class="content-wrapper card">
                <div class="">
                    <div id="e-commerce-product" class="simple tabbed">
                        <!-- <app-header-bar (loggedInUserEmitter)="receiveLoggedInUser($event)"></app-header-bar> -->

                        <form [formGroup]="categoryForm" (ngSubmit)="onsubmit()">
                            <div class="tab-content">
                                <div class="card">
                                    <div class="card">
                                        <div class="row justify-content-center pt-6">


                                            <div class="col-xs-12 col-xl-10 col-md-12">
                                                <div class="">
                                                    <div>
                                                        <textarea type="text" placeholder="Add instruction details"
                                                            class="form-control" maxlength="150"
                                                            formControlName="instruction"></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class=" text-auto row align-items-center justify-content-center p-2"
                                        style="background-color: rgb(123, 181, 181);">

                                        <div class="">

                                            <ng-container>
                                                <button type="button" class="btn btn-success mr-2"
                                                    [disabled]="categoryForm.invalid"
                                                    (click)="onsubmit()">
                                                    <!--(click)="onAddDocTemp()"-->
                                                    ADD
                                                </button>

                                            </ng-container>

                                            <ng-container>
                                                <button type="button" class="btn btn-danger mr-2" (click)="closeDialog()">
                                                    <!--(click)="onAddDocTemp()"-->
                                                    Cancel
                                                </button>

                                            </ng-container>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>